<form #heroForm="ngForm" (keyup)="EnterSubmit($event)" (ngSubmit)="btnClick()" >
     <div class="action-container">
        <button type="submit" 
    mat-raised-button
    color="primary"
    style="margin-right: 10px;"
    [disabled]="submitDisable || !heroForm.valid"
  >
  Save
</button>
<button type="button"
mat-button
    color="basic"
    [disabled]="submitDisable"
    (click)="btnClickCancel();"
  >
  Cancel
</button>
     </div>
    <div class="card first-card" >
        <div class="card-head">Employee info</div>
        
        <div class="card-body">
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Employee</mat-label>
                <mat-select  id="firstName" [disabled]="submitDisable" required [(ngModel)]="empId" name="employee">
                  <mat-option *ngFor="let employee of employees" [value]="employee.id">{{ employee.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            
        </div>
        </div>
        <div class="card" >
            <div class="card-head">Incident details</div>
        <div class="card-body">

            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Incident date</mat-label>
                <input [disabled]="submitDisable" required matInput [matDatepicker]="picker2" [(ngModel)]="incDate" name="leaveDate">
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>

              <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Witness 1</mat-label>
                <mat-select [disabled]="submitDisable" required [(ngModel)]="witness1" name="witness1">
                  <mat-option *ngFor="let employee of employees" [value]="employee.id">{{ employee.name }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Witness 2</mat-label>
                <mat-select [disabled]="submitDisable" required [(ngModel)]="witness2" name="witness2">
                  <mat-option *ngFor="let employee of employees" [value]="employee.id">{{ employee.name }}</mat-option>
                </mat-select>
            </mat-form-field>
    
    
           
        </div>
    </div>
        <div class="card" >
            <div class="card-head">Witnesses</div>
        <div class="card-body">

            <mat-form-field style="margin-right: 10px; width: 100%;" appearance="outline">
                <mat-label>Description</mat-label>
                <!-- <input [disabled]="submitDisable" required  matInput appTitleCase placeholder="Description"  [(ngModel)]="description" name="description"  > -->
                <textarea [disabled]="submitDisable" required matInput appTitleCase placeholder="Description" name="description" [(ngModel)]="description"></textarea>
            </mat-form-field>
    
            <mat-divider></mat-divider>
           
            <mat-form-field style="margin-right: 10px; width: 100%;" appearance="outline">
                <mat-label>Remarks</mat-label>
                <!-- <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Remarks"  [(ngModel)]="remarks" name="remarks"  > -->
                <textarea [disabled]="submitDisable" matInput appTitleCase placeholder="Remarks" name="remarks" [(ngModel)]="remarks"></textarea>
            </mat-form-field>

        </div>
    </div>
 
    
</form>