.first-card-home {
    margin-top: 20px;
    margin-right: 10px;
}
.first-card {
    margin-top: 120px;
}
.lock-button {
    background: #141E46;
    border: none;
    height: 29px;
    padding: 0px 15px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-right: 10px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;          
  }

  .lock-button:hover{
    background: #141e46d3;
    color: white;
  }

  .empty-records {
    text-align: center;
    color: lightgrey;
    margin: 20px 0;
}

