<form #heroForm="ngForm" (keyup)="EnterSubmit($event)" (ngSubmit)="btnClick()" >
     <div class="action-container">
        <button type="submit" 
    mat-raised-button
    color="primary"
    style="margin-right: 10px;"
    [disabled]="submitDisable || !heroForm.valid"
  >
  Save
</button>
<button type="button"
mat-button
    color="basic"
    [disabled]="submitDisable"
    (click)="btnClickCancel();"
  >
  Cancel
</button>
     </div>
    <div class="card first-card" >
        <div class="card-head">Account information</div>
        <div class="card-body">
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Account code</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase  placeholder="Account code" id="firstControl"   [(ngModel)]="code" name="code"   >
            </mat-form-field>
    
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Account name</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Account name"  [(ngModel)]="name" name="name"  >
            </mat-form-field>
    
        </div>
    </div>
    <div class="card" >
        <div class="card-head">Account details</div>
        <div class="card-body">
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Account category</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase  placeholder="Account category"  [(ngModel)]="category" name="category"   >
            </mat-form-field>
    
            <mat-form-field style="margin-right: 10px;">
                <mat-label>ParentAccId</mat-label>
                <input [disabled]="submitDisable" type="number"  matInput appTitleCase placeholder="ParentAccId"  [(ngModel)]="parentId" name="parentId"  >
            </mat-form-field>
    
        </div>
    </div>
    
    <div class="card" >
        <div class="card-head">Account description</div>
        <div class="card-body">
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Description</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase  placeholder="Description"  [(ngModel)]="description" name="Description"  >
            </mat-form-field>
    
        </div>
    </div>
    
</form>