<form #heroForm="ngForm" (keyup)="EnterSubmit($event)" (ngSubmit)="btnClick()" >
    <button type="submit" 
   mat-raised-button
   color="primary"
   style="margin-right: 10px;"
   [disabled]="submitDisable || !heroForm.valid"
 >
 Save
</button>
<button type="button"
mat-button
   color="basic"
   [disabled]="submitDisable"
   (click)="btnClickCancel();"
 >
 Cancel
</button>
   
   <div class="card" >
       <div class="card-head">Sale order data</div>
       <div class="card-body">
           
           <!-- <mat-form-field style="margin-right: 10px;">
               <mat-label>Journal code</mat-label>
               <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Journal code"  [(ngModel)]="journaCode" name="journaCode"  [readonly]="true">
           </mat-form-field> -->
           <mat-form-field style="margin-right: 10px;">
               <mat-label>Invoice code</mat-label>
               <input disabled  matInput appTitleCase placeholder="Invoice code"  [(ngModel)]="invCode" name="journaCode"  [readonly]="true">
           </mat-form-field>

           <mat-form-field>
               <mat-label>Incoice date</mat-label>
               <input id="firstName" [disabled]="submitDisable"  matInput [matDatepicker]="picker" [(ngModel)]="invDate" name="journaDate">
               <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
               <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
               <mat-datepicker #picker></mat-datepicker>
             </mat-form-field>
           <mat-divider></mat-divider>
           <!-- <mat-form-field style="margin-right: 10px;">
               <mat-label>Cost center</mat-label>
               <mat-select [disabled]="submitDisable" [(ngModel)]="costCenId" name="constCenId">
                 <mat-option *ngFor="let employee of costCens" [value]="employee.id">{{ employee.name }}</mat-option>
               </mat-select>
           </mat-form-field> -->
           <mat-form-field style="margin-right: 10px;">
               <mat-label>CustomerId</mat-label>
               <input [disabled]="submitDisable"  matInput type="number" min="0" appTitleCase placeholder="SupplierId"  [(ngModel)]="CustomerId" name="SupplierId">
           </mat-form-field>

           <mat-form-field style="margin-right: 10px;">
               <mat-label>Remarks</mat-label>
               <input [disabled]="submitDisable"  matInput  appTitleCase placeholder="Remarks"  [(ngModel)]="remarks" name="Remarks">
           </mat-form-field>

           <mat-form-field style="margin-right: 10px;">
            <mat-label>WarehouseId</mat-label>
            <input [disabled]="submitDisable"  matInput type="number" min="0" appTitleCase placeholder="WarehouseId"  [(ngModel)]="warehouseId" name="WarehouseId">
        </mat-form-field>

        <mat-form-field style="margin-right: 10px;">
            <mat-label>Tax</mat-label>
            <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Tax" type="number" min="0"  oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"  [(ngModel)]="tax" [ngModelOptions]="{standalone: true}">
            <mat-error *ngIf="tax < 0">Negative value</mat-error>
        </mat-form-field>

        
        <mat-form-field style="margin-right: 10px;">
            <mat-label>Description</mat-label>
            <input [disabled]="submitDisable"  matInput  appTitleCase placeholder="Description"  [(ngModel)]="description" name="Description">
        </mat-form-field>
       
        <mat-checkbox  [disabled]="submitDisable" style="margin-right: 10px;" color="primary" [(ngModel)]="isTaxable" name="IsTaxable">Is taxable</mat-checkbox>
        
          
               <!-- <button mat-stroked-button *ngIf="loadId === 0" [disabled]="tenure === 0" type="button" (click)="fetchTenure()">Fetch</button> -->
       </div>
   </div>
   <div fxLayout fxLayoutGap="5px">
       <button mat-stroked-button type="button" (click)="addNewChild()">Add Entry</button>
   </div>

   <div *ngFor="let childTenure of childs">
       <div class="card">
           <div class="card-body">
            <mat-form-field style="margin-right: 10px;">
                <mat-label>ProductId</mat-label>
                <input [disabled]="submitDisable"  matInput type="number" min="0" appTitleCase placeholder="ProductId"  [(ngModel)]="childTenure.ProductId" name="ProductId">
            </mat-form-field>
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Quantity</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Qty" type="number" min="0"  oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"  [(ngModel)]="childTenure.Qty" [ngModelOptions]="{standalone: true}">
                <mat-error *ngIf="childTenure.Qty < 0">Negative value</mat-error>
            </mat-form-field>
            <!-- <mat-form-field style="margin-right: 10px;">
                <mat-label>Cost price</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Cost price" type="number" min="0"  oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"  [(ngModel)]="childTenure.CostPrice" [ngModelOptions]="{standalone: true}">
                <mat-error *ngIf="childTenure.CostPrice < 0">Negative value</mat-error>
            </mat-form-field> -->
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Sale price</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Sale price" type="number" min="0"  oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"  [(ngModel)]="childTenure.SalePrice" [ngModelOptions]="{standalone: true}">
                <mat-error *ngIf="childTenure.SalePrice < 0">Negative value</mat-error>
            </mat-form-field>
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Discount</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Discount" type="number" min="0"  oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"  [(ngModel)]="childTenure.Discount" [ngModelOptions]="{standalone: true}">
                <mat-error *ngIf="childTenure.Discount < 0">Negative value</mat-error>
            </mat-form-field>
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Net price</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Net cost" type="number" min="0"  oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"  [(ngModel)]="childTenure.NetPrice" [ngModelOptions]="{standalone: true}">
                <mat-error *ngIf="childTenure.NetPrice < 0">Negative value</mat-error>
            </mat-form-field>
        
              
               <!-- <mat-form-field style="margin-right: 10px;">
                   <mat-label>Cost center</mat-label>
                   <mat-select [disabled]="submitDisable" [(ngModel)]="childTenure.CostCenId" [ngModelOptions]="{standalone: true}">
                     <mat-option *ngFor="let employee of costCens" [value]="employee.id">{{ employee.name }}</mat-option>
                   </mat-select>
               </mat-form-field> -->
               <button mat-raised-button color="warn" type="button" (click)="deleteTenure(childTenure)">Delete</button>
           </div>
       </div>
   </div>
   
  
</form>