<div class="head-bar">
<h1 class="first-card-home">Final settlement</h1>

<button 
mat-stroked-button
color="primary"
    routerLink="/system/final-settlement-entry/0"
  >
  Create
</button>
</div>

<div class="card-home" *ngIf="!dataIsLoaded" >
  <!-- <div class="card-head">Employee profile index</div> -->
  <div class="card-body">
      <mat-table #table  [dataSource]="[1,2,3,4,5 ,6,7,8,9,0]" style="width: 100%">

          <!-- Columns definition here to be displayed -->
      
          <ng-container matColumnDef="select">
            <mat-header-cell class="cbPad"  *matHeaderCellDef>
              Action
            </mat-header-cell>
             <mat-cell class="cbPad" *matCellDef="let row; let i = index">
              <ngx-skeleton-loader />
            </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="EmpId">      
          <mat-header-cell class="centH" *matHeaderCellDef>
              Employee
          </mat-header-cell>     
          <mat-cell mat-cell class="cent" *matCellDef="let row"><ngx-skeleton-loader /></mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="GratuityClear">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Gratuity
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                <ngx-skeleton-loader />
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="LeaveClear">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Leave
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                <ngx-skeleton-loader />
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="SalaryClear">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Salary
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                <ngx-skeleton-loader />
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="InvClear">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Inventory
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                <ngx-skeleton-loader />
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="HandoverCl">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Handover
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                <ngx-skeleton-loader />
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="SupervisorCl">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Supervisor
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                <ngx-skeleton-loader />
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="ManagerCl">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Manager
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                <ngx-skeleton-loader />
            </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="LoanClear" >  
            <mat-header-cell class="centH" *matHeaderCellDef>
                Loan
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                <ngx-skeleton-loader />
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Locked">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Locked
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row"> <ngx-skeleton-loader /></mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="Lock">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Lock
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row"> <ngx-skeleton-loader /></mat-cell>
          </ng-container>
          
        
    
        <mat-header-row class="headerRow" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    
        <mat-row *matRowDef="let row; columns: displayedColumns;"  class="rowR" ></mat-row>
    
      </mat-table>
      <!-- <mat-paginator style="width: 100%;" [length]="totalRecords" [pageSize]="recordsPerPage" [pageSizeOptions]="pageSizeOptions"
          (page)="paginatoryOperation($any($event))" showFirstLastButtons>
      </mat-paginator> -->
      
  </div>
</div>

<div class="card-home" *ngIf="dataIsLoaded" >
    <div class="card-body">
        <mat-table #table [dataSource]="dataSource"  style="width: 100%">
  
            <!-- Columns definition here to be displayed -->
        
            <ng-container matColumnDef="select" stickyEnd>
              <mat-header-cell class="cbPad"  *matHeaderCellDef>
                Action
              </mat-header-cell>
               <mat-cell class="cbPad" *matCellDef="let row; let i = index">
                <button *ngIf="row.finalSettLockId === 0" class="Btn" mat-icon-button color="basic" matTooltip="Actions" [matMenuTriggerFor]="menu"><mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="more_vert"></mat-icon></button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item *ngIf="row.finalSettLockId === 0 && row.gratuityClear && row.leaveClear && row.salaryClear && row.invClear && row.handoverCl && row.supervisorCl && row.managerCl && row.loanClear"  (click)="onLock(row)">
                    <mat-icon>lock</mat-icon>
                    <span>Lock</span>
                  </button>
                  <button mat-menu-item *ngIf="row.finalSettLockId === 0"  routerLink="/system/final-settlement-entry/{{row.finalSettleId}}">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                  </button>
                  <button mat-menu-item *ngIf="row.finalSettLockId === 0"  (click)="onDelete(row)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                </mat-menu>
                <!-- <button *ngIf="row.finalSettLockId === 0"  (click)="onLock(row)" class="Btn" mat-icon-button color="primary" matTooltip="Lock"><mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="lock"></mat-icon></button>
                <button *ngIf="row.finalSettLockId === 0"  routerLink="/system/final-settlement-entry/{{row.finalSettleId}}" style="margin-right: 5px;" class="Btn" mat-icon-button color="primary" matTooltip="Edit"><mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="edit"></mat-icon></button>
                <button *ngIf="row.finalSettLockId === 0"  (click)="onDelete(row)" class="Btn" mat-icon-button color="warn" matTooltip="Delete"><mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="delete"></mat-icon></button> -->
                <!-- <button  class="lock-button" >Lock</button> -->
              </mat-cell>
          </ng-container>
        
          
          <ng-container matColumnDef="EmpId">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Employee
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.employeeName}}</mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="GratuityClear">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Gratuity
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                <mat-icon *ngIf="row.gratuityClear" aria-hidden="false" aria-label="Example done icon" style="color: rgb(90, 180, 90);" fontIcon="done"></mat-icon>
                <mat-icon *ngIf="!row.gratuityClear" aria-hidden="false" aria-label="Example clear icon" style="color: rgb(180, 90, 90);" fontIcon="clear"></mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="LeaveClear">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Leave
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                <mat-icon *ngIf="row.leaveClear" aria-hidden="false" aria-label="Example done icon" style="color: rgb(90, 180, 90);" fontIcon="done"></mat-icon>
                <mat-icon *ngIf="!row.leaveClear" aria-hidden="false" aria-label="Example clear icon" style="color: rgb(180, 90, 90);" fontIcon="clear"></mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="SalaryClear">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Salary
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                <mat-icon *ngIf="row.salaryClear" aria-hidden="false" aria-label="Example done icon" style="color: rgb(90, 180, 90);" fontIcon="done"></mat-icon>
                <mat-icon *ngIf="!row.salaryClear" aria-hidden="false" aria-label="Example clear icon" style="color: rgb(180, 90, 90);" fontIcon="clear"></mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="InvClear">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Inventory
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                <mat-icon *ngIf="row.invClear" aria-hidden="false" aria-label="Example done icon" style="color: rgb(90, 180, 90);" fontIcon="done"></mat-icon>
                <mat-icon *ngIf="!row.invClear" aria-hidden="false" aria-label="Example clear icon" style="color: rgb(180, 90, 90);" fontIcon="clear"></mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="HandoverCl">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Handover
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                <mat-icon *ngIf="row.handoverCl" aria-hidden="false" aria-label="Example done icon" style="color: rgb(90, 180, 90);" fontIcon="done"></mat-icon>
                <mat-icon *ngIf="!row.handoverCl" aria-hidden="false" aria-label="Example clear icon" style="color: rgb(180, 90, 90);" fontIcon="clear"></mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="SupervisorCl">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Supervisor
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                <mat-icon *ngIf="row.supervisorCl" aria-hidden="false" aria-label="Example done icon" style="color: rgb(90, 180, 90);" fontIcon="done"></mat-icon>
                <mat-icon *ngIf="!row.supervisorCl" aria-hidden="false" aria-label="Example clear icon" style="color: rgb(180, 90, 90);" fontIcon="clear"></mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="ManagerCl">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Manager
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                <mat-icon *ngIf="row.managerCl" aria-hidden="false" aria-label="Example done icon" style="color: rgb(90, 180, 90);" fontIcon="done"></mat-icon>
                <mat-icon *ngIf="!row.managerCl" aria-hidden="false" aria-label="Example clear icon" style="color: rgb(180, 90, 90);" fontIcon="clear"></mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="LoanClear" >  
            <mat-header-cell class="centH" *matHeaderCellDef>
                Loan
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
              <mat-icon *ngIf="row.loanClear" aria-hidden="false" aria-label="Example done icon" style="color: rgb(90, 180, 90);" fontIcon="done"></mat-icon>
              <mat-icon *ngIf="!row.loanClear" aria-hidden="false" aria-label="Example clear icon" style="color: rgb(180, 90, 90);" fontIcon="clear"></mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Locked">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Locked
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
              <mat-icon *ngIf="row.finalSettLockId != 0" aria-hidden="false" aria-label="Example done icon" style="color: rgb(90, 180, 90);" fontIcon="done"></mat-icon>
              <mat-icon *ngIf="row.finalSettLockId === 0" aria-hidden="false" aria-label="Example clear icon" style="color: rgb(180, 90, 90);" fontIcon="clear"></mat-icon>
              <!-- <button *ngIf="!row.locked" (click)="onLock(row)" class="lock-button" >Lock</button> -->
            </mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="Lock">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Lock
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
              
              <!-- <button *ngIf="row.finalSettLockId === 0" (click)="onLock(row)" class="lock-button" >Lock</button> -->
              <button *ngIf="row.finalSettLockId === 0"  (click)="onLock(row)" class="Btn" mat-icon-button color="primary" matTooltip="Lock"><mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="lock"></mat-icon></button>
            </mat-cell>
          </ng-container>
          

      
          <mat-header-row class="headerRow" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      
          <mat-row *matRowDef="let row; columns: displayedColumns;"  class="rowR" ></mat-row>
      
        </mat-table>
        @if (dataSource.length === 0 && (filter != '' || sort != '') && dataIsLoaded) {
          <h2 class="empty-records">Record is not found</h2>
        } 
        @if (dataSource.length === 0  && filter === ''&& sort === '' && dataIsLoaded) {
          <h2 class="empty-records">No records yet</h2>
        }
        </div>
    </div>
    <mat-paginator style="width: 100%; background: transparent;" [length]="totalRecords" [pageSize]="recordsPerPage" [pageSizeOptions]="pageSizeOptions"
        (page)="paginatoryOperation($any($event))" showFirstLastButtons>
    </mat-paginator>
