<form #heroForm="ngForm" (keydown)="EnterSubmit($event)" (ngSubmit)="btnClick()" >
    <button type="submit" 
    mat-raised-button
    color="primary"
    style="margin-right: 10px;"
  >
  Save
</button>
<button type="button"
mat-button
    color="basic"
    (click)="btnClickCancel();"
  >
  Cancel
</button>
    <div class="card" >
        <div class="card-head">Day working hours information</div>
        <div class="card-body">
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Day hours</mat-label>
                <input matInput  placeholder="Month" id="firstControl"   [(ngModel)]="DayHours" name="DayHours"  required>
            </mat-form-field>
    
            
            <mat-form-field>
                <mat-label>From date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="FromDate" name="FromDate">
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            <mat-form-field>
                <mat-label>To date</mat-label>
                <input matInput [matDatepicker]="picker2" [(ngModel)]="ToDate" name="ToDate">
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
           
        </div>
    </div>
    
</form>