<form #heroForm="ngForm" (keyup)="EnterSubmit($event)" (ngSubmit)="btnClick()" >
     <div class="action-container">
        <button type="submit" 
    mat-raised-button
    color="primary"
    style="margin-right: 10px;"
    [disabled]="submitDisable || !heroForm.valid"
  >
  Save
</button>
<button type="button"
mat-button
    color="basic"
    [disabled]="submitDisable"
    (click)="btnClickCancel();"
  >
  Cancel
</button>
     </div>
    <div class="card first-card" >
        <div class="card-head">Day working hours information</div>
        <div class="card-body">
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Day hours</mat-label>
                <input [disabled]="submitDisable"  matInput type="number" min="0" placeholder="Month" id="firstControl" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"   [(ngModel)]="DayHours" name="DayHours"   >
                <mat-error *ngIf="DayHours < 0">Negative value</mat-error>
            </mat-form-field>
    
            
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>From date</mat-label>
                <input [disabled]="submitDisable"  matInput [matDatepicker]="picker" [(ngModel)]="FromDate" name="FromDate">
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>To date</mat-label>
                <input [disabled]="submitDisable"  matInput [matDatepicker]="picker2" [(ngModel)]="ToDate" name="ToDate">
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
           
        </div>
    </div>
    
</form>