<form #heroForm="ngForm" (keyup)="EnterSubmit($event)" (ngSubmit)="btnClick()" >
     <div class="action-container">
        <button type="submit" 
    mat-raised-button
    color="primary"
    style="margin-right: 10px;"
    [disabled]="submitDisable || !heroForm.valid"
  >
  Save
</button>
<button type="button"
mat-button
    color="basic"
    [disabled]="submitDisable"
    (click)="btnClickCancel();"
  >
  Cancel
</button>
     </div>
    <div class="card first-card" >
        <div class="card-head">General attendace info</div>
        
        <div class="card-body">
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Employee</mat-label>
                <mat-select id="firstControl" [disabled]="submitDisable" [(ngModel)]="empId" name="employee">
                  <mat-option *ngFor="let employee of employees" [value]="employee.id">{{ employee.name }}</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Month</mat-label>
                <input [disabled]="submitDisable"  matInput  placeholder="Month" positiveNumberOnly type="number" min="1"  [(ngModel)]="month" name="month"   >
            </mat-form-field> -->
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Month</mat-label>
                <mat-select  [(ngModel)]="month" required name="month">
                    <mat-option *ngFor="let month of months" [value]="month">{{ month }}</mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Year</mat-label>
                <input [disabled]="submitDisable"  matInput positiveNumberOnly type="number" min="1" placeholder="Year"  [(ngModel)]="year" name="year"  >
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label>Attendance date</mat-label>
                <input [disabled]="submitDisable"  matInput [matDatepicker]="picker" [(ngModel)]="attDate" name="attDate">
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              
        </div>
        </div>
    <div class="card" >
        <div class="card-head">Work details</div>
        
        <div class="card-body">

            <mat-checkbox  [disabled]="submitDisable" style="margin-right: 10px;" color="primary" [(ngModel)]="present" name="Present">Present</mat-checkbox>
            
            <mat-divider></mat-divider>
            
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Hours worked</mat-label>
                <input [disabled]="submitDisable" type="number" min="0"  matInput  placeholder="Hours worked" decimalOnly   [(ngModel)]="hrsWorked" name="hrsWorked"  >
                <mat-error *ngIf="hrsWorked < 0">Negative value</mat-error>
            </mat-form-field>
    
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Overtime</mat-label>
                <input [disabled]="submitDisable" type="number" min="0"  matInput  placeholder="Overtime" decimalOnly   [(ngModel)]="overtimeElig" name="Overtime"  >
                <mat-error *ngIf="overtimeElig < 0">Negative value</mat-error>
            </mat-form-field>

            <mat-divider></mat-divider>
    
            <mat-checkbox  [disabled]="submitDisable" style="margin-right: 10px;" color="primary" [(ngModel)]="isWorkDay" name="isWorkDay">Is workday</mat-checkbox>
            
            

            
        </div>
        </div>
        
        <div class="card" >
            <div class="card-head">Leave details</div>
        <div class="card-body">

            <div class="card-body">
                <mat-checkbox  [disabled]="submitDisable" style="margin-right: 10px;" color="primary" [(ngModel)]="onLeave" name="onLeave">On leave</mat-checkbox>
                <mat-divider></mat-divider>
                <mat-form-field style="margin-right: 10px;" appearance="outline">
                    <mat-label>Leave type</mat-label>
                    <input [disabled]="submitDisable"  matInput appTitleCase placeholder="leaveType"  [(ngModel)]="leaveType" name="leaveType"  >
                </mat-form-field>
            </div>

        </div>
    </div>
       
    <div class="card" >
        <div class="card-head">Remarks details</div>
    <div class="card-body">
       
        <mat-form-field style="margin-right: 10px;" appearance="outline">
            <mat-label>Reamrks</mat-label>
            <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Remarks"  [(ngModel)]="remarks" name="remarks"  >
        </mat-form-field>

       
    </div>
</div>
 
    
</form>