<form #heroForm="ngForm" (keyup)="EnterSubmit($event)" (ngSubmit)="btnClick()" >
    <div class="action-container">
        <button type="submit" 
   mat-raised-button
   color="primary"
   style="margin-right: 10px;"
   [disabled]="submitDisable || !heroForm.valid"
 >
 Save
</button>
<button type="button"
mat-button
   color="basic"
   [disabled]="submitDisable"
   (click)="btnClickCancel();"
 >
 Cancel
</button>
    </div>
   
   <div class="card first-card" >
       <div class="card-head">Purchase order</div>
       <div class="card-body">
           
           <!-- <mat-form-field style="margin-right: 10px;" appearance="outline">
               <mat-label>Journal code</mat-label>
               <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Journal code"  [(ngModel)]="journaCode" name="journaCode"  [readonly]="true">
           </mat-form-field> -->
           <mat-form-field style="margin-right: 10px;" appearance="outline">
               <mat-label>Invoice code</mat-label>
               <input disabled  matInput appTitleCase placeholder="Invoice code"  [(ngModel)]="invCode" name="journaCode"  [readonly]="true">
           </mat-form-field>

           <mat-form-field appearance="outline">
               <mat-label>Incoice date</mat-label>
               <input id="firstName" [disabled]="submitDisable"  matInput [matDatepicker]="picker" [(ngModel)]="invDate" name="journaDate">
               <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
               <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
               <mat-datepicker #picker></mat-datepicker>
             </mat-form-field>
           <mat-divider></mat-divider>
           <!-- <mat-form-field style="margin-right: 10px;" appearance="outline">
               <mat-label>Cost center</mat-label>
               <mat-select [disabled]="submitDisable" [(ngModel)]="costCenId" name="constCenId">
                 <mat-option *ngFor="let employee of costCens" [value]="employee.id">{{ employee.name }}</mat-option>
               </mat-select>
           </mat-form-field> -->
           <!-- <mat-form-field style="margin-right: 10px;" appearance="outline">
               <mat-label>SupplierId</mat-label>
               <input [disabled]="submitDisable"  matInput type="number" min="0" appTitleCase placeholder="SupplierId"  [(ngModel)]="supplierId" name="SupplierId">
           </mat-form-field> -->
           <mat-form-field style="margin-right: 10px;width: 100%;">
            <mat-label>Supplier</mat-label>
            <mat-select [disabled]="submitDisable" [(ngModel)]="supplierId" name="supplierId">
              <mat-option *ngFor="let supplier of suppliers" [value]="supplier.id">{{ supplier.name }}</mat-option>
            </mat-select>
        </mat-form-field>

           <mat-form-field style="margin-right: 10px;" appearance="outline">
               <mat-label>Remarks</mat-label>
               <input [disabled]="submitDisable"  matInput  appTitleCase placeholder="Remarks"  [(ngModel)]="remarks" name="Remarks">
           </mat-form-field>

           <mat-form-field style="margin-right: 10px;" appearance="outline">
            <mat-label>Warehouse</mat-label>
            <mat-select [disabled]="submitDisable" [(ngModel)]="warehouseId" name="warehouseId">
              <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse.id">{{ warehouse.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        

        <mat-form-field style="margin-right: 10px;" appearance="outline">
            <mat-label>Tax</mat-label>
            <!-- <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Tax" type="number" min="0"  decimalOnly  [(ngModel)]="tax" [ngModelOptions]="{standalone: true}"> -->
            <!-- <mat-error *ngIf="tax < 0">Negative value</mat-error> -->
            <input disabled  matInput appTitleCase placeholder="Tax"  [(ngModel)]="tax" name="tax"  [readonly]="true">
        </mat-form-field>

        
        <mat-form-field style="margin-right: 10px;" appearance="outline">
            <mat-label>Description</mat-label>
            <input [disabled]="submitDisable"  matInput  appTitleCase placeholder="Description"  [(ngModel)]="description" name="Description">
        </mat-form-field>
       
        <mat-checkbox  [disabled]="submitDisable" (change)="updateTaxAmount()" style="margin-right: 10px;" color="primary" [(ngModel)]="isTaxable" name="IsTaxable">Is taxable</mat-checkbox>
        
          
               <!-- <button mat-stroked-button *ngIf="loadId === 0" [disabled]="tenure === 0" type="button" (click)="fetchTenure()">Fetch</button> -->
       </div>
   </div>
   <div fxLayout fxLayoutGap="5px">
       <button mat-stroked-button type="button" (click)="addNewChild()">Add Entry</button>
   </div>

   <div *ngFor="let childTenure of childs; let i = index">
       <div class="card">
           <div class="card-body">
            <mat-form-field style="margin-right: 10px; width: 100%;">
                <mat-label>Product</mat-label>
                <mat-select [disabled]="submitDisable" [(ngModel)]="childTenure.ProductId" [ngModelOptions]="{standalone: true}">
                  <mat-option *ngFor="let product of products" [value]="product.id">{{ product.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Quantity</mat-label>
                <input [disabled]="submitDisable" (input)="calculateNetCost(childTenure, i)"  matInput  placeholder="Qty" type="number" min="0"  decimalOnly  [(ngModel)]="childTenure.Qty" [ngModelOptions]="{standalone: true}">
                <mat-error *ngIf="childTenure.Qty < 0">Negative value</mat-error>
            </mat-form-field>
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Cost price</mat-label>
                <input [disabled]="submitDisable" (input)="calculateNetCost(childTenure, i)"  matInput  placeholder="Cost price" type="number" min="0"  decimalOnly  [(ngModel)]="childTenure.CostPrice" [ngModelOptions]="{standalone: true}">
                <mat-error *ngIf="childTenure.CostPrice < 0">Negative value</mat-error>
            </mat-form-field>
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Discount</mat-label>
                <input [disabled]="submitDisable" (input)="calculateNetCost(childTenure, i)"  matInput  placeholder="Discount" type="number" min="0"  decimalOnly  [(ngModel)]="childTenure.Discount" [ngModelOptions]="{standalone: true}">
                <mat-error *ngIf="childTenure.Discount < 0">Negative value</mat-error>
            </mat-form-field>
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Net cost</mat-label>
                <input disabled  matInput  placeholder="Net cost" type="number" min="0"  decimalOnly  [(ngModel)]="childTenure.NetCost" [ngModelOptions]="{standalone: true}" [readonly]="true">
                <!-- <input disabled  matInput appTitleCase placeholder="Invoice code"  [(ngModel)]="invCode" name="journaCode"  [readonly]="true"> -->
                <!-- <mat-error *ngIf="childTenure.NetCost < 0">Negative value</mat-error> -->
            </mat-form-field>
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Sale price</mat-label>
                <input [disabled]="submitDisable"  matInput  placeholder="Sale price" type="number" min="0"  decimalOnly  [(ngModel)]="childTenure.SalePrice" [ngModelOptions]="{standalone: true}">
                <mat-error *ngIf="childTenure.SalePrice < 0">Negative value</mat-error>
            </mat-form-field>
        
              
               <!-- <mat-form-field style="margin-right: 10px;" appearance="outline">
                   <mat-label>Cost center</mat-label>
                   <mat-select [disabled]="submitDisable" [(ngModel)]="childTenure.CostCenId" [ngModelOptions]="{standalone: true}">
                     <mat-option *ngFor="let employee of costCens" [value]="employee.id">{{ employee.name }}</mat-option>
                   </mat-select>
               </mat-form-field> -->
               <button mat-raised-button color="warn" type="button" (click)="deleteTenure(childTenure)">Delete</button>
           </div>
       </div>
   </div>
   
  
</form>