<!-- <p>inventory-entry works!</p> -->
<form #heroForm="ngForm" (keyup)="EnterSubmit($event);" (ngSubmit)="btnClick()" >
     <div class="action-container">
        <button type="submit" 
    mat-raised-button
    color="primary"
    style="margin-right: 10px;"
    [disabled]="submitDisable || !heroForm.valid"
  >
  Save
</button>
<button type="button"
mat-button
    color="basic"
    [disabled]="submitDisable"
    (click)="btnClickCancel();"
  >
  Cancel
</button>
     </div>
    <div class="card first-card" >
        <div class="card-head">Cost center group information</div>
        <div class="card-body">
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Group name</mat-label>
                <input [disabled]="submitDisable"  matInput  placeholder="Group name" id="firstControl"   [(ngModel)]="groupName" name="groupName"   >
            </mat-form-field>
            <!-- <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Leave type</mat-label>
                <mat-select id="firstControl"  [disabled]="submitDisable" [(ngModel)]="leaveName" name="leaveName">
                  <mat-option *ngFor="let employee of leaves" [value]="employee.name">{{ employee.name }}</mat-option>
                </mat-select>
            </mat-form-field> -->
    
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Description</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Description"  [(ngModel)]="description" name="description"  >
            </mat-form-field>

           
        </div>
    </div>
   
    <!-- <div class="card" >
    <div class="card-head">Payment formula</div>
        <div class="card-body">
            <mat-form-field style=" margin-right: 10px;">
                <mat-label>Pay eval formula</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Pay eval formula"  [(ngModel)]="payEvalFormula" name="payEvalFormula"  >
            </mat-form-field>
        </div>
    </div> -->
    
</form>