<form #heroForm="ngForm" (keyup)="EnterSubmit($event)" (ngSubmit)="btnClick()" >
     <div class="action-container">
        <button type="submit" 
    mat-raised-button
    color="primary"
    style="margin-right: 10px;"
    [disabled]="submitDisable || !heroForm.valid"
  >
  Save
</button>
<button type="button"
mat-button
    color="basic"
    [disabled]="submitDisable"
    (click)="btnClickCancel();"
  >
  Cancel
</button>
     </div>
    <div class="card first-card" >
        <div class="card-head">Agreement period</div>
        
        <div class="card-body">
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Employee</mat-label>
                <mat-select [disabled]="submitDisable" required id="firstControl" [(ngModel)]="empId" name="employee">
                  <mat-option *ngFor="let employee of employees" [value]="employee.id">{{ employee.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Agreement start</mat-label>
                <input [disabled]="submitDisable" required matInput [matDatepicker]="picker" [(ngModel)]="agStart" name="agStart">
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Agreement end</mat-label>
                <input [disabled]="submitDisable" required matInput [matDatepicker]="picker2" [(ngModel)]="agEnd" name="agEnd">
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
        </div>
        </div>
        

            <!-- <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Department</mat-label>
                <input [disabled]="submitDisable"  matInput  placeholder="Department"   [(ngModel)]="department" name="department"   >
            </mat-form-field>
    
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>jobTitle</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Job title"  [(ngModel)]="jobTitle" name="jobTitle"  >
            </mat-form-field> -->
    
            <!-- <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Description</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="description"  [(ngModel)]="description" name="description"  >
            </mat-form-field>
    
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Remarks</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Remarks"  [(ngModel)]="remarks" name="remarks"  >
            </mat-form-field> -->
    
         
    <div class="card" >
        <div class="card-head">Description</div>
    <div class="card-body">
        
        <mat-form-field style="margin-right: 10px; width: 100%;" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea [disabled]="submitDisable"  matInput appTitleCase placeholder="Description"  [(ngModel)]="description" name="description"  ></textarea>
        </mat-form-field>

       
    </div>
</div>
    <div class="card" >
        <div class="card-head">Remarks</div>
    <div class="card-body">

        <mat-form-field style="margin-right: 10px;width: 100%;" appearance="outline">
            <mat-label>Remarks</mat-label>
            <textarea [disabled]="submitDisable"  matInput appTitleCase placeholder="Remarks"  [(ngModel)]="remarks" name="remarks"  ></textarea>
        </mat-form-field>
      
    </div>
</div>
    <div class="card" >
        <div class="card-head">Agreement earning</div>
        <div class="card-body">
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Basic</mat-label>
                <input [disabled]="submitDisable" required matInput type="number" min="0"  placeholder="Earn 1" decimalOnly  [(ngModel)]="earn1" name="earn1"  >
                <mat-error *ngIf="earn1 < 0">Negative value</mat-error>
                <mat-error *ngIf="earn1 === 0">Should be greater then zero</mat-error>
            </mat-form-field>
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Allowance</mat-label>
                <input [disabled]="submitDisable" required matInput type="number" min="0"  placeholder="Earn 2" decimalOnly  [(ngModel)]="earn2" name="earn2"  >
                <mat-error *ngIf="earn2 < 0">Negative value</mat-error>
            </mat-form-field>
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Incentive</mat-label>
                <input [disabled]="submitDisable"  matInput type="number" min="0"  placeholder="Earn 2" decimalOnly  [(ngModel)]="earn3" name="earn3"  >
                <mat-error *ngIf="earn3 < 0">Negative value</mat-error>
            </mat-form-field>
        </div>
    </div>
    <!-- <div class="card" >
        <div class="card-head">Agreement deduction</div>
        <div class="card-body">
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Ded 1</mat-label>
                <input [disabled]="submitDisable"  matInput type="number" min="0" appTitleCase placeholder="Ded 1" decimalOnly  [(ngModel)]="ded1" name="Ded1"  >
                <mat-error *ngIf="ded1 < 0">Negative value</mat-error>
            </mat-form-field>
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Ded 2</mat-label>
                <input [disabled]="submitDisable"  matInput type="number" min="0" appTitleCase placeholder="Ded 2" decimalOnly  [(ngModel)]="ded2" name="Ded2"  >
                <mat-error *ngIf="ded2 < 0">Negative value</mat-error>
            </mat-form-field>
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Ded 3</mat-label>
                <input [disabled]="submitDisable"  matInput type="number" min="0" appTitleCase placeholder="Ded 2" decimalOnly  [(ngModel)]="ded3" name="Ded3"  >
                <mat-error *ngIf="ded3 < 0">Negative value</mat-error>
            </mat-form-field>
        </div>
    </div> -->
    
</form>