<h1>Dashboard</h1>
<div class="card">
    <div class="card-head">My Head</div>
    <div class="card-body">
        This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text.
    </div>
</div>

<div class="card">
    <div class="card-head">My Head 2</div>
    <div class="card-body">
        This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text.
    </div>
</div>