<form #heroForm="ngForm" (keyup)="EnterSubmit($event)" (ngSubmit)="btnClick()" >
     <button type="submit" 
    mat-raised-button
    color="primary"
    style="margin-right: 10px;"
    [disabled]="submitDisable || !heroForm.valid"
  >
  Save
</button>
<button type="button"
mat-button
    color="basic"
    [disabled]="submitDisable"
    (click)="btnClickCancel();"
  >
  Cancel
</button>
    <div class="card" >
        <div class="card-head">Employee info</div>
        
        <div class="card-body">
            <!-- <mat-form-field style="margin-right: 10px;">
                <mat-label>Employee</mat-label>
                <mat-select [disabled]="submitDisable" [(ngModel)]="empId" name="employee">
                  <mat-option *ngFor="let employee of employees" [value]="employee.id">{{ employee.name }}</mat-option>
                </mat-select>
            </mat-form-field> -->
            
            <mat-form-field style="margin-right: 10px;">
                <mat-label>EmpAgreementId</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Job title"  [(ngModel)]="empAgreementId" name="EmpAgreementId"  >
            </mat-form-field>
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Leave</mat-label>
                <mat-select [disabled]="submitDisable" [(ngModel)]="leaveId" name="leave">
                  <mat-option *ngFor="let employee of leaves" [value]="employee.id">{{ employee.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            
        </div>
        </div>
        <div class="card" >
            <div class="card-head">Leave details</div>
        <div class="card-body">

    
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Allocated</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Allocated" [(ngModel)]="allocated" name="allocated"  >
            </mat-form-field>
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Taken</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Taken"  [(ngModel)]="taken" name="Taken"  >
            </mat-form-field>
    
           
        </div>
    </div>
 
    
</form>