<h1>Employee profile</h1>

<button 
    (click)="btnClickCreate();"
    routerLink="/system/employeeprofile-entry/0"
  >
  Create
</button>

<div class="card"  >
    <div class="card-head">Employee profile index</div>
    <div class="card-body">
        <mat-table #table [dataSource]="dataSource"  style="width: 100%">
  
            <!-- Columns definition here to be displayed -->
        
            <ng-container matColumnDef="select">
              <mat-header-cell class="cbPad"  *matHeaderCellDef>
                Action
              </mat-header-cell>
               <mat-cell class="cbPad" *matCellDef="let row; let i = index">
                <button routerLink="/employeeprofile-entry/{{row.empProfileId}}" class="Btn" mat-menu-item>Edit</button>
                <button (click)="onDelete(row)" class="Btn" mat-menu-item>Delete</button>
              </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="empName">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Employee Name
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.first}}</mat-cell>
          </ng-container>
          
      
          <mat-header-row class="headerRow" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      
          <mat-row *matRowDef="let row; columns: displayedColumns;"  class="rowR" ></mat-row>
      
        </mat-table>
        <mat-paginator style="width: 100%;" [length]="totalRecords" [pageSize]="recordsPerPage" [pageSizeOptions]="pageSizeOptions"
            (page)="paginatoryOperation($any($event))" showFirstLastButtons>
        </mat-paginator>
        
    </div>
</div>
