<!-- <p>inventory-entry works!</p> -->
<form #heroForm="ngForm" (keyup)="EnterSubmit($event);" (ngSubmit)="btnClick()" >
    <div class="action-container">
        <button type="submit" 
   mat-raised-button
   color="primary"
   style="margin-right: 10px;"
   [disabled]="submitDisable || !heroForm.valid"
 >
 Save
</button>
<button type="button"
mat-button
   color="basic"
   [disabled]="submitDisable"
   (click)="btnClickCancel();"
 >
 Cancel
</button>
    </div>
   <div class="card first-card" >
       <div class="card-head">Customer information</div>
       <div class="card-body">
           
           <mat-form-field style="margin-right: 10px;" appearance="outline">
            <mat-label>Name</mat-label>
            <input [disabled]="submitDisable" id="firstControl" matInput appTitleCase placeholder="Name"  [(ngModel)]="supplierName" name="name"  >
        </mat-form-field>
           

           <mat-form-field style="margin-right: 10px;" appearance="outline">
            <mat-label>Address</mat-label>
            <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Address"  [(ngModel)]="address" name="address"  >
        </mat-form-field>
          
       </div>
   </div>
   <div class="card" >
       <div class="card-head">Contact details</div>
       <div class="card-body">
           
           <mat-form-field style="margin-right: 10px;" appearance="outline">
            <mat-label>Contact person</mat-label>
            <input [disabled]="submitDisable" matInput appTitleCase placeholder="Contact person"  [(ngModel)]="contactPer" name="contactPer"  >
        </mat-form-field>
           

           <mat-form-field style="margin-right: 10px;" appearance="outline">
            <mat-label>Email</mat-label>
            <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Email" type="email"  [(ngModel)]="email" name="email"  >
        </mat-form-field>

        <mat-form-field style="margin-right: 10px;" appearance="outline">
            <mat-label>Phone</mat-label>
            <input [disabled]="submitDisable" matInput appTitleCase placeholder="Phone"  [(ngModel)]="phone1" name="phone1"  >
        </mat-form-field>
           

        <mat-form-field style="margin-right: 10px;" appearance="outline">
            <mat-label>Phone 2</mat-label>
            <input [disabled]="submitDisable" matInput appTitleCase placeholder="Phone 2"  [(ngModel)]="phone2" name="phone2"  >
        </mat-form-field>
           
          
       </div>
   </div>
   <div class="card" >
       <div class="card-head">Account details</div>
       <div class="card-body">
           
        <mat-form-field style="margin-right: 10px;" appearance="outline">
            <mat-label>Account</mat-label>
            <mat-select  [disabled]="submitDisable"  id="firstControl" [(ngModel)]="accountId" name="accountId">
                <mat-option *ngFor="let account of accounts" [value]="account.id">{{ account.name }}</mat-option>
            </mat-select>
        </mat-form-field>
           
          
       </div>
   </div>
  
   <!-- <div class="card" >
   <div class="card-head">Payment formula</div>
       <div class="card-body">
           <mat-form-field style=" margin-right: 10px;">
               <mat-label>Pay eval formula</mat-label>
               <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Pay eval formula"  [(ngModel)]="payEvalFormula" name="payEvalFormula"  >
           </mat-form-field>
       </div>
   </div> -->
   
</form>