<div class="head-bar">

  <h1 class="first-card-home">Day working hours</h1>
  
  <button 
  mat-stroked-button
  color="primary"
      routerLink="/system/dayworkinghours-entry/0"
    >
    Create
  </button>
  <div class="action-btns">



    @if (sort != "" || filter != "") {
      <button mat-raised-button color="warn" (click)="onClearAll()" [disabled]='sort === "" && filter === ""'>Clear All</button>
    }
    </div>
</div>

<!-- <div class="action-bar"> -->
  
  <!-- <div class="action-btns">
        <input matInput type="text" placeholder="Search by code" class="action-input" [(ngModel)]="searchText">
           <button class="search-button" (click)="onSearch()">Search</button>
            @if (nameFilter) {
              <button matSuffix mat-icon-button aria-label="Clear" (click)="onClearSearch()">
                <mat-icon>close</mat-icon>
              </button>
            }

  </div> -->

<!-- </div> -->

<div class="card-home" *ngIf="!dataIsLoaded" >
  <!-- <div class="card-head">Employee profile index</div> -->
  <div class="card-body">
      <mat-table #table  [dataSource]="[1,2,3,4,5 ,6,7,8,9,0]" style="width: 100%">

          <!-- Columns definition here to be displayed -->
      
          <ng-container matColumnDef="select">
            <mat-header-cell class="cbPad"  *matHeaderCellDef>
              Action
            </mat-header-cell>
             <mat-cell class="cbPad" *matCellDef="let row; let i = index">
              <ngx-skeleton-loader />
            </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="Month">      
          <mat-header-cell class="centH" *matHeaderCellDef>
              From <button  
              mat-icon-button
              matTooltip="Filter by"
              [matTooltipShowDelay]="50"
              color="basic"
              type="button"
              class="refresh_icon2"
              disabled
                >
                <mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="filter_list"></mat-icon>
              </button>
          </mat-header-cell>     
          <mat-cell mat-cell class="cent" *matCellDef="let row"><ngx-skeleton-loader /></mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="Year">      
          <mat-header-cell class="centH" *matHeaderCellDef>
            To <button  
            mat-icon-button
            matTooltip="Filter by"
            [matTooltipShowDelay]="50"
            color="basic"
            type="button"
            class="refresh_icon2"
            disabled
              >
              <mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="filter_list"></mat-icon>
            </button>
          </mat-header-cell>     
          <mat-cell mat-cell class="cent" *matCellDef="let row"><ngx-skeleton-loader /></mat-cell>
        </ng-container>

        <ng-container matColumnDef="Holiday">      
          <mat-header-cell class="centH" *matHeaderCellDef>
            Day hours
          </mat-header-cell>     
          <mat-cell mat-cell class="cent" *matCellDef="let row"><ngx-skeleton-loader /></mat-cell>
        </ng-container>
        
    
        <mat-header-row class="headerRow" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    
        <mat-row *matRowDef="let row; columns: displayedColumns;"  class="rowR" ></mat-row>
    
      </mat-table>
      <!-- <mat-paginator style="width: 100%;" [length]="totalRecords" [pageSize]="recordsPerPage" [pageSizeOptions]="pageSizeOptions"
          (page)="paginatoryOperation($any($event))" showFirstLastButtons>
      </mat-paginator> -->
      
  </div>
</div>

<div class="card-home" *ngIf="dataIsLoaded" >
    <!-- <div class="card-head">Day Hours index</div> -->
    <div class="card-body">
        <mat-table #table [dataSource]="dataSource"  style="width: 100%">
  
            <!-- Columns definition here to be displayed -->
        
            <ng-container matColumnDef="select">
              <mat-header-cell class="cbPad"  *matHeaderCellDef>
                Action
              </mat-header-cell>
               <mat-cell class="cbPad" *matCellDef="let row; let i = index">
                <button routerLink="/system/dayworkinghours-entry/{{row.monthWDayId}}" style="margin-right: 5px;" class="Btn" mat-icon-button color="primary" matTooltip="Edit"><mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="edit"></mat-icon></button>
                <button (click)="onDelete(row)" class="Btn" mat-icon-button color="warn" matTooltip="Delete"><mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="delete"></mat-icon></button>
              </mat-cell>
          </ng-container>
        
          
          <ng-container matColumnDef="Month">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                From <button  
                mat-icon-button
                matTooltip="Filter by"
                [matTooltipShowDelay]="50"
                color="basic"
                type="button"
                class="refresh_icon2"
                (click)="onFilterByFromDate()"
                  >
                  <mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="filter_list"></mat-icon>
                </button>
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.fromDate | date:"dd/MMM/yyyy"}}</mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="Year">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              To <button  
              mat-icon-button
              matTooltip="Filter by"
              [matTooltipShowDelay]="50"
              color="basic"
              type="button"
              class="refresh_icon2"
              (click)="onFilterByToDate()"
                >
                <mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="filter_list"></mat-icon>
              </button>
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.toDate | date:"dd/MMM/yyyy"}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="Holiday">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Day hours
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.dayHours}}</mat-cell>
          </ng-container>
          
      
          <mat-header-row class="headerRow" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      
          <mat-row *matRowDef="let row; columns: displayedColumns;"  class="rowR" ></mat-row>
      
        </mat-table>
        @if (dataSource.length === 0 && (filter != '' || sort != '') && dataIsLoaded) {
          <h2 class="empty-records">Record is not found</h2>
        } 
        @if (dataSource.length === 0  && filter === ''&& sort === '' && dataIsLoaded) {
          <h2 class="empty-records">No records yet</h2>
        }
        
      </div>
    </div>
    <mat-paginator style="width: 100%; background: transparent;" [length]="totalRecords" [pageSize]="recordsPerPage" [pageSizeOptions]="pageSizeOptions"
        (page)="paginatoryOperation($any($event))" showFirstLastButtons>
    </mat-paginator>
