<!-- <p>inventory-entry works!</p> -->
<form #heroForm="ngForm" (keyup)="EnterSubmit($event);" (ngSubmit)="btnClick()" >
     <div class="action-container">
        <button type="submit" 
    mat-raised-button
    color="primary"
    style="margin-right: 10px;"
    [disabled]="submitDisable || !heroForm.valid"
  >
  Save
</button>
<button type="button"
mat-button
    color="basic"
    [disabled]="submitDisable"
    (click)="btnClickCancel();"
  >
  Cancel
</button>
     </div>
    <div class="card first-card" >
        <div class="card-head">Leave information</div>
        <div class="card-body">
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Leave name</mat-label>
                <input [disabled]="submitDisable" required matInput  placeholder="Leave name" id="firstControl"   [(ngModel)]="leaveName" name="leaveName"   >
            </mat-form-field>
            <!-- <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Leave type</mat-label>
                <mat-select id="firstControl"  [disabled]="submitDisable" [(ngModel)]="leaveName" name="leaveName">
                  <mat-option *ngFor="let employee of leaves" [value]="employee.name">{{ employee.name }}</mat-option>
                </mat-select>
            </mat-form-field> -->
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Days</mat-label>
                <input [disabled]="submitDisable" matInput placeholder="Days" positiveNumberOnly type="number" min="0"   [(ngModel)]="days" name="Days"  >
            </mat-form-field>

                <mat-checkbox style="margin-right: 10px;" color="primary" [(ngModel)]="isPaid" name="isPaid">Is paid</mat-checkbox>
            
    
            
           
        </div>
    </div>
    <div class="card" >
    <div class="card-head">More details</div>
        <div class="card-body">
            <mat-form-field style="margin-right: 10px; width: 100%;" appearance="outline">
                <mat-label>Description</mat-label>
                <!-- <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Description"  [(ngModel)]="description" name="description"  > -->
                <textarea [disabled]="submitDisable" matInput appTitleCase placeholder="Description" name="description" [(ngModel)]="description"></textarea>
            </mat-form-field>
            

        </div>
    </div>
    <div class="card" >
    <div class="card-head">Documents</div>
        <div class="card-body">
            <mat-form-field class="example-chip-list" style="width: 100%;" appearance="outline">
                <mat-label>Documents</mat-label>
                <mat-chip-grid #chipGrid aria-label="Enter a doc">
                  @for (fruit of extractDocs(); track fruit) {
                    <mat-chip-row
                      (removed)="remove(fruit)"
                      [editable]="true"
                      (edited)="edit(fruit, $event)"
                      [aria-description]="'press enter to edit ' + fruit"
                    >
                      {{fruit}}
                      <button matChipRemove [attr.aria-label]="'remove ' + fruit">
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip-row>
                  }
                  <input
                    placeholder="New fruit..."
                    [matChipInputFor]="chipGrid"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur" 
                    (matChipInputTokenEnd)="add($event)"
                  />
                </mat-chip-grid>
              </mat-form-field>
            

        </div>
    </div>
    <!-- <div class="card" >
    <div class="card-head">Payment</div>
        <div class="card-body">
            <mat-checkbox style="margin-right: 10px;" color="primary" [(ngModel)]="isPaid" name="isPaid">Is paid</mat-checkbox>
        </div>
    </div> -->
    <!-- <div class="card" >
    <div class="card-head">Payment formula</div>
        <div class="card-body">
            <mat-form-field style="width: 100%; margin-right: 10px;">
                <mat-label>Pay eval formula</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Pay eval formula"  [(ngModel)]="payEvalFormula" name="payEvalFormula"  >
            </mat-form-field>
        </div>
    </div> -->
    
</form>