<!-- <p>inventory-entry works!</p> -->
<form #heroForm="ngForm" (keydown)="EnterSubmit($event)" (ngSubmit)="btnClick()" >
    <button type="submit" 
    mat-raised-button
    color="primary"
    style="margin-right: 10px;"
    [disabled]="submitDisable"
  >
  Save
</button>
<button type="button"
mat-button
    color="basic"
    [disabled]="submitDisable"
    (click)="btnClickCancel();"
  >
  Cancel
</button>
    <div class="card" >
        <div class="card-head">Inventory information</div>
        <div class="card-body">
            <!-- <mat-form-field style="margin-right: 10px;">
                <mat-label>Item name</mat-label>
                <input [disabled]="submitDisable"  matInput  placeholder="Item name" id="firstControl"   [(ngModel)]="itemName" name="itemName"  required>
            </mat-form-field> -->
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Inventory Item</mat-label>
                <mat-select [disabled]="submitDisable" [(ngModel)]="itemName" name="itemName">
                  <mat-option *ngFor="let employee of invItems" [value]="employee.name">{{ employee.name }}</mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Description</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Description"  [(ngModel)]="description" name="description" required>
            </mat-form-field>

            <!-- <mat-form-field style="margin-right: 10px;">
                <mat-label>Item type</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Item type" type="number"  [(ngModel)]="itemType" name="itemType" required>
            </mat-form-field> -->
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Inventory type</mat-label>
                <mat-select [disabled]="submitDisable" [(ngModel)]="itemType" name="employee">
                  <mat-option *ngFor="let employee of invTypes" [value]="employee.id">{{ employee.name }}</mat-option>
                </mat-select>
            </mat-form-field>
    
            
           
        </div>
    </div>
    
</form>