<div class="card" >
        <div class="card-body">
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Amount</mat-label>
                <input matInput  placeholder="Loan amount" decimalOnly type="number" min="0"  [(ngModel)]="amount" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Month</mat-label>
                <input matInput  placeholder="Month"  [(ngModel)]="month" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Year</mat-label>
                <input matInput positiveNumberOnly type="number" min="1" placeholder="Year"  [(ngModel)]="year" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Remarks</mat-label>
                <input matInput appTitleCase placeholder="Remarks"  [(ngModel)]="remarks" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </div>
    </div>