<form #heroForm="ngForm" (keyup)="EnterSubmit($event)" (ngSubmit)="btnClick()" >
        <div class="action-container">
        <button type="submit" 
    mat-raised-button
    color="primary"
    style="margin-right: 10px;"
    [disabled]="submitDisable || !heroForm.valid"
  >
  Save
</button>
<button type="button"
mat-button
    color="basic"
    [disabled]="submitDisable"
    (click)="btnClickCancel();"
  >
  Cancel
</button>
     </div>
    <div class="card first-card" >
        <div class="card-head">Personal information</div>
        <div class="card-body">
           
            <input [disabled]="submitDisable" type="file" name="first" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display: none;" accept="image/png, image/jpeg">
            <input [disabled]="submitDisable" type="file" name="second" #file2 placeholder="Choose file" (change)="uploadAttachments(file2.files)" style="display: none;" multiple accept="image/png, image/jpeg">
                    <mat-card class="example-card">
                        <img *ngIf="user_img != '/path/to/file'" mat-card-image src="{{user_img}}" class="user-img" alt="Photo of a Shiba Inu">
                        <div class="no-img" *ngIf="user_img === '/path/to/file'"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon></div>
                        <mat-card-actions class="card-footer">
                          <button class="card-btn" type="button" mat-raised-button (click)="deleteImg()" color="warn"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete_forever"></mat-icon></button>
                          <button class="card-btn" type="button" mat-raised-button (click)="file.click()"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="mode_edit"></mat-icon></button>
                        </mat-card-actions>
                      </mat-card>
           
           <div class="card-body">
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>First name</mat-label>
                <input [disabled]="submitDisable" matInput appTitleCase  placeholder="First name" id="firstName"   [(ngModel)]="firstName" name="firstName"   >
            </mat-form-field>
    
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Middle name</mat-label>
                <input [disabled]="submitDisable" matInput appTitleCase placeholder="Middle name"  [(ngModel)]="middleName" name="middleName">
            </mat-form-field>
    
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Last name</mat-label>
                <input [disabled]="submitDisable" matInput appTitleCase placeholder="Last name"  [(ngModel)]="lastName" name="lastName"  >
            </mat-form-field>
    
            <!-- <mat-radio-group  name="gender"> -->
                <!-- <mat-radio-button [(ngModel)]="gender" onclick="changeGender(true)"  name="male">Male</mat-radio-button>
                <mat-radio-button [(ngModel)]="!gender" (ngModelChange)="changeGender(false)" name="female">Female</mat-radio-button> -->
            <!-- </mat-radio-group> -->
            <mat-radio-group [(ngModel)]="gender" name="gender">
                <mat-radio-button [disabled]="submitDisable" [value]="true">Male</mat-radio-button>
            </mat-radio-group>
            
            <mat-radio-group [(ngModel)]="gender" name="gender">
                <mat-radio-button [disabled]="submitDisable" [value]="false">Female</mat-radio-button>
            </mat-radio-group>
           </div>
            
        </div>
    </div>
    
    <div class="card" >
        <div class="card-head">Contact</div>
        <div class="card-body">
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>E-mail</mat-label>
                <input [disabled]="submitDisable" matInput appTitleCase placeholder="E-mail"  [(ngModel)]="mail" name="mail">
            </mat-form-field>
    
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Phone</mat-label>
                <input [disabled]="submitDisable" matInput appTitleCase placeholder="Phone"  type="number" [(ngModel)]="phone" name="phone">
            </mat-form-field>
    
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Phone 2</mat-label>
                <input [disabled]="submitDisable" matInput appTitleCase placeholder="Phone 2"  type="number" [(ngModel)]="phone2"  name="phone2">
            </mat-form-field>

            <mat-form-field appearance="outline" style="margin-right: 10px;">
                <mat-label>Address</mat-label>
                <textarea [disabled]="submitDisable" matInput appTitleCase placeholder="Address"  [(ngModel)]="address" name="address"></textarea>
            </mat-form-field>
    
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Nationality</mat-label>
                <mat-select [(ngModel)]="selectedNationality" name="nationality">
                  <mat-option *ngFor="let nationality of nationalitites" [value]="nationality">{{ nationality }}</mat-option>
                </mat-select>
            </mat-form-field>

            
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Emergency contact</mat-label>
                <input [disabled]="submitDisable" matInput appTitleCase placeholder="Emergency contact"  type="number" [(ngModel)]="emerContact" name="emercontact">
            </mat-form-field>

            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Emergency person</mat-label>
                <input [disabled]="submitDisable" matInput appTitleCase placeholder="Emergency person"  type="text" [(ngModel)]="emerPerson" name="emerPerson">
            </mat-form-field>
    

            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Emergency relation</mat-label>
                <input [disabled]="submitDisable" matInput appTitleCase placeholder="Emergency relation"  type="text" [(ngModel)]="emerRelation" name="emerRelation">
            </mat-form-field>
    
        </div>
    </div>
    
    <div class="card" >
        <div class="card-head">Job info</div>
        <div class="card-body">
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Department</mat-label>
                <mat-select [disabled]="submitDisable" [(ngModel)]="selectedDepartment" name="department">
                  <mat-option *ngFor="let department of departments" [value]="department">{{ department }}</mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Job title</mat-label>
                <mat-select [disabled]="submitDisable" [(ngModel)]="selectedJobTitle" name="department">
                  <mat-option *ngFor="let jobtitle of jobTitles" [value]="jobtitle">{{ jobtitle }}</mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Biometric Id</mat-label>
                <input [disabled]="submitDisable" matInput appTitleCase placeholder="Biometric Id" type="number" [(ngModel)]="biomId" name="biomid">
            </mat-form-field>
        </div>
    </div>
    
    <div class="card" >
        <div class="card-head">Supervisor</div>
        <div class="card-body">
    
            <!-- <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Supervisor</mat-label>
                <input [disabled]="submitDisable" matInput appTitleCase placeholder="Supervisor" type="number" [(ngModel)]="supervisorId" name="supervisorId">
            </mat-form-field> -->
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Supervisor</mat-label>
                <mat-select [disabled]="submitDisable" [(ngModel)]="supervisorId" name="supervisor">
                  <mat-option *ngFor="let supervisor of supervisors" [value]="supervisor.id">{{ supervisor.name }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    
    <div class="card" >
        <div class="card-head">Identification documents</div>
        <div class="card-body">
            
                <mat-form-field style="margin-right: 10px;" appearance="outline">
                    <mat-label>Insurance</mat-label>
                    <input [disabled]="submitDisable" matInput appTitleCase placeholder="Insurance"  [(ngModel)]="insurance" name="insurance">
                </mat-form-field>
                <mat-form-field style="margin-right: 10px;" appearance="outline">
                    <mat-label>Description</mat-label>
                    <input [disabled]="submitDisable" matInput appTitleCase  placeholder="Description" [(ngModel)]="inDesc" name="description">
                </mat-form-field>
        
                
                    <mat-form-field style="margin-right: 10px;" appearance="outline">
                        <mat-label>Start of Insurance</mat-label>
                        <input [disabled]="submitDisable" matInput [matDatepicker]="inStpicker" [(ngModel)]="inSt" name="inSt">
                        
                        <mat-datepicker-toggle matIconSuffix [for]="inStpicker"></mat-datepicker-toggle>
                        <mat-datepicker #inStpicker></mat-datepicker>
                      </mat-form-field >
                      <mat-form-field  style="margin-right: 10px;" appearance="outline">
                        <mat-label>End of Insurance</mat-label>
                        <input [disabled]="submitDisable" matInput [matDatepicker]="inEndpicker" [(ngModel)]="inEnd" name="inEnd">
                        
                        <mat-datepicker-toggle matIconSuffix [for]="inEndpicker"></mat-datepicker-toggle>
                        <mat-datepicker #inEndpicker></mat-datepicker>
                      </mat-form-field>
                    
                  <mat-divider></mat-divider>
                  <mat-form-field style="margin-right: 10px;" appearance="outline">
                    <mat-label>Labor card</mat-label>
                    <input [disabled]="submitDisable" matInput appTitleCase placeholder="Labor card"  [(ngModel)]="laborCard" name="laborCard">
                </mat-form-field>
                <mat-form-field style="margin-right: 10px;" appearance="outline">
                    <mat-label>Description</mat-label>
                    <input [disabled]="submitDisable" matInput appTitleCase placeholder="Description" [(ngModel)]="laborDesc" name="laborDescription" >
                </mat-form-field>

                <mat-form-field style="margin-right: 10px;" appearance="outline">
                    <mat-label>Start of Labor</mat-label>
                    <input [disabled]="submitDisable" matInput [matDatepicker]="laborStpicker" [(ngModel)]="laborSt" name="laborSt">
                    
                    <mat-datepicker-toggle matIconSuffix [for]="laborStpicker"></mat-datepicker-toggle>
                    <mat-datepicker #laborStpicker></mat-datepicker>
                  </mat-form-field >
                  <mat-form-field  style="margin-right: 10px;" appearance="outline">
                    <mat-label>End of Labor</mat-label>
                    <input [disabled]="submitDisable" matInput [matDatepicker]="laborEnpicker" [(ngModel)]="laborEn" name="laborEn">
                    
                    <mat-datepicker-toggle matIconSuffix [for]="laborEnpicker"></mat-datepicker-toggle>
                    <mat-datepicker #laborEnpicker></mat-datepicker>
                  </mat-form-field>
        
                
                  <mat-divider></mat-divider>
                  <mat-form-field style="margin-right: 10px;" appearance="outline">
                    <mat-label>Emirates Id</mat-label>
                    <input [disabled]="submitDisable" matInput appTitleCase placeholder="Emirates Id"  [(ngModel)]="emiratesId" name="EmiratesId" >
                </mat-form-field>

                <mat-form-field style="margin-right: 10px;" appearance="outline">
                    <mat-label>Start of Emirates</mat-label>
                    <input [disabled]="submitDisable" matInput [matDatepicker]="emiratesStpicker" [(ngModel)]="emiratesSt" name="emiratesSt">
                    
                    <mat-datepicker-toggle matIconSuffix [for]="emiratesStpicker"></mat-datepicker-toggle>
                    <mat-datepicker #emiratesStpicker></mat-datepicker>
                  </mat-form-field >
                  <mat-form-field  style="margin-right: 10px;" appearance="outline">
                    <mat-label>End of Emirates</mat-label>
                    <input [disabled]="submitDisable" matInput [matDatepicker]="emiratesEnpicker" [(ngModel)]="emiratesEn" name="emiratesEn">
                    
                    <mat-datepicker-toggle matIconSuffix [for]="emiratesEnpicker"></mat-datepicker-toggle>
                    <mat-datepicker #emiratesEnpicker></mat-datepicker>
                  </mat-form-field>
        
                
                  <mat-divider></mat-divider>
                  <mat-form-field style="margin-right: 10px;" appearance="outline">
                    <mat-label>Passport</mat-label>
                    <input [disabled]="submitDisable" matInput appTitleCase placeholder="Passport"  [(ngModel)]="passport" name="Passport">
                </mat-form-field>

                <mat-form-field style="margin-right: 10px;" appearance="outline">
                    <mat-label>Start of Passport</mat-label>
                    <input [disabled]="submitDisable" matInput [matDatepicker]="passportStpicker" [(ngModel)]="passportSt" name="passportSt">
                    
                    <mat-datepicker-toggle matIconSuffix [for]="passportStpicker"></mat-datepicker-toggle>
                    <mat-datepicker #passportStpicker></mat-datepicker>
                  </mat-form-field >
                  <mat-form-field  style="margin-right: 10px;" appearance="outline">
                    <mat-label>End of Passport</mat-label>
                    <input [disabled]="submitDisable" matInput [matDatepicker]="passportEnpicker" [(ngModel)]="passportEn" name="passportEn">
                    
                    <mat-datepicker-toggle matIconSuffix [for]="passportEnpicker"></mat-datepicker-toggle>
                    <mat-datepicker #passportEnpicker></mat-datepicker>
                  </mat-form-field>
        
                
                  <mat-divider></mat-divider>
                  <mat-form-field style="margin-right: 10px;" appearance="outline">
                    <mat-label>Visa</mat-label>
                    <input [disabled]="submitDisable" matInput appTitleCase placeholder="Visa" name="visa" [(ngModel)]="visa" >
                </mat-form-field>
                <mat-form-field style="margin-right: 10px;" appearance="outline">
                    <mat-label>Description</mat-label>
                    <input [disabled]="submitDisable" matInput appTitleCase placeholder="Description" name="visaDescription" [(ngModel)]="visaDesc">
                </mat-form-field>

                <mat-form-field style="margin-right: 10px;" appearance="outline">
                    <mat-label>Start of Visa</mat-label>
                    <input [disabled]="submitDisable" matInput [matDatepicker]="visaStpicker" [(ngModel)]="visaSt" name="visaSt">
                    
                    <mat-datepicker-toggle matIconSuffix [for]="visaStpicker"></mat-datepicker-toggle>
                    <mat-datepicker #visaStpicker></mat-datepicker>
                  </mat-form-field >
                  <mat-form-field  style="margin-right: 10px;" appearance="outline">
                    <mat-label>End of Visa</mat-label>
                    <input [disabled]="submitDisable" matInput [matDatepicker]="visaEnpicker" [(ngModel)]="visaEn" name="visaEn">
                    
                    <mat-datepicker-toggle matIconSuffix [for]="visaEnpicker"></mat-datepicker-toggle>
                    <mat-datepicker #visaEnpicker></mat-datepicker>
                  </mat-form-field>
        
                
            
        </div>
    </div>
    
    <!-- <div class="card" >
        <div class="card-head">Payroll</div>
        <div class="card-body">
            This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text. This is my test text.
        </div>
    </div> -->
    
    <div class="card" >
        <div class="card-head">Skills and experience</div>
        <div class="card-body">
            <mat-form-field style="margin-right: 10px;" appearance="outline">
                <mat-label>Experience</mat-label>
                <input [disabled]="submitDisable" matInput appTitleCase placeholder="Experience" name="experience" type="text" [(ngModel)]="experience">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Skills</mat-label>
                <textarea [disabled]="submitDisable" matInput appTitleCase placeholder="Skills" name="skills" [(ngModel)]="skills"></textarea>
            </mat-form-field>
        </div>
    </div>
    
    <div class="card" >
        <div class="card-head">Languages</div>
        <div class="card-body">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Languages</mat-label>
                <textarea [disabled]="submitDisable" matInput appTitleCase placeholder="" name="languages" [(ngModel)]="languages"></textarea>
            </mat-form-field>
        </div>
    </div>
    
    <div class="card" >
        <div class="card-head">Education</div>
        <div class="card-body">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Education</mat-label>
                    <textarea [disabled]="submitDisable" matInput appTitleCase placeholder="Education" name="education" [(ngModel)]="education"></textarea>
                </mat-form-field>
        </div>
    </div>
    
    <div class="card" >
        <div class="card-head">Training and certifications</div>
        <div class="card-body">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Trainins</mat-label>
                <textarea [disabled]="submitDisable" matInput appTitleCase placeholder="Trainings" name="trainings" [(ngModel)]="trainings"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Certificaties</mat-label>
                <textarea [disabled]="submitDisable" matInput appTitleCase placeholder="Certificates" name="certificates" [(ngModel)]="certificates"></textarea>
            </mat-form-field>
        </div>
    </div>
    
    <div class="card" >
        
        <div class="card-head">Attachments <button class="Btn" type="button" mat-button color="primary" (click)="file2.click()">Upload</button></div>
        <div class="card-body">
            <div *ngFor="let link of links; let i = index">
                <div class="attach-links">
                    <a [href]="link.Link" [download]="link.OriginalFileName" target="_blank">{{link.OriginalFileName}}</a>
                    <button class="Btn" mat-button color="warn" (click)="deleteAttach(i)" type="button">Delete</button>
                </div>
                <mat-divider *ngIf="i+1 != links.length"></mat-divider>
            </div>
        </div>
    </div>
</form>