<h1 class="first-card-home">Employee attendance</h1>

<input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display: none;" multiple>

<button 
mat-button
color="primary"
type="file"
    (click)="file.click()"
  >
  Upload CSV
</button>

<!-- <button 
mat-button
color="basic"
type="button"
    (click)="openRefreshAtt()"
  >
  Refresh attendance
</button> -->
<button  
*ngIf="!showLoading2"
mat-button
color="basic"
type="button"
    (click)="openRefreshAtt()"
  >
  Refresh attendance
</button>

<app-payroll-progress-bar [isProgressActive]="showLoading" [refreshScreen]="true" [timeLoad]="60" (canceled)="onProgressCanceled()"></app-payroll-progress-bar>

<!-- <button *ngIf="screenMode === 'index'"
    (click)="btnClickCreate();"
  >
  Create
</button> -->

<div class="card" *ngIf="!dataIsLoaded" >
  <!-- <div class="card-head">Employee profile index</div> -->
  <div class="card-body">
      <mat-table #table  [dataSource]="[1,2,3,4,5 ,6,7,8]" style="width: 100%">

          <!-- Columns definition here to be displayed -->
      
          <ng-container matColumnDef="select">
            <mat-header-cell class="cbPad"  *matHeaderCellDef>
              Action
            </mat-header-cell>
             <mat-cell class="cbPad" *matCellDef="let row; let i = index">
              <ngx-skeleton-loader />
            </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="empName">      
          <mat-header-cell class="centH" *matHeaderCellDef>
              Employee
          </mat-header-cell>     
          <mat-cell mat-cell class="cent" *matCellDef="let row"><ngx-skeleton-loader /></mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="department">      
          <mat-header-cell class="centH" *matHeaderCellDef>
            Department
          </mat-header-cell>     
          <mat-cell mat-cell class="cent" *matCellDef="let row"><ngx-skeleton-loader /></mat-cell>
        </ng-container>

        <ng-container matColumnDef="jobTitle">      
          <mat-header-cell class="centH" *matHeaderCellDef>
            Job title
          </mat-header-cell>     
          <mat-cell mat-cell class="cent" *matCellDef="let row"><ngx-skeleton-loader /></mat-cell>
        </ng-container>

        <ng-container matColumnDef="checkIn">      
          <mat-header-cell class="centH" *matHeaderCellDef>
            Check in
          </mat-header-cell>     
          <mat-cell mat-cell class="cent" *matCellDef="let row"><ngx-skeleton-loader /></mat-cell>
        </ng-container>
        
    
        <mat-header-row class="headerRow" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    
        <mat-row *matRowDef="let row; columns: displayedColumns;"  class="rowR" ></mat-row>
    
      </mat-table>
      <mat-paginator style="width: 100%;" [length]="totalRecords" [pageSize]="recordsPerPage" [pageSizeOptions]="pageSizeOptions"
          (page)="paginatoryOperation($any($event))" showFirstLastButtons>
      </mat-paginator>
      
  </div>
</div>

<div class="card" *ngIf="dataIsLoaded">
    <!-- <div class="card-head">Employee attendanceindex</div> -->
    <div class="card-body">
        <mat-table #table [dataSource]="dataSource"  style="width: 100%">
  
            <!-- Columns definition here to be displayed -->
        
            <ng-container matColumnDef="select">
              <mat-header-cell class="cbPad"  *matHeaderCellDef>
                Action
              </mat-header-cell>
               <mat-cell class="cbPad" *matCellDef="let row; let i = index">
                <button (click)="onDelete(row)" class="Btn" mat-button color="warn">Delete</button>
              </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="empName">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Employee
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.empName}}</mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="department">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Department
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.department}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="jobTitle">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Job title
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.jobTitle}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="checkIn">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Check in
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.checkIn | date:"dd/MMM/yyyy HH:mm"}}</mat-cell>
          </ng-container>
          
      
          <mat-header-row class="headerRow" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      
          <mat-row *matRowDef="let row; columns: displayedColumns;"  class="rowR" ></mat-row>
      
        </mat-table>
        <mat-paginator style="width: 100%;" [length]="totalRecords" [pageSize]="recordsPerPage" [pageSizeOptions]="pageSizeOptions"
            (page)="paginatoryOperation($any($event))" showFirstLastButtons>
        </mat-paginator>
        
    </div>
</div>
