<!-- <p>inventory-entry works!</p> -->
<form #heroForm="ngForm" (keyup)="EnterSubmit($event);" (ngSubmit)="btnClick()" >
     <button type="submit" 
    mat-raised-button
    color="primary"
    style="margin-right: 10px;"
    [disabled]="submitDisable || !heroForm.valid"
  >
  Save
</button>
<button type="button"
mat-button
    color="basic"
    [disabled]="submitDisable"
    (click)="btnClickCancel();"
  >
  Cancel
</button>
    <div class="card" >
        <div class="card-head">Cost center account information</div>
        <div class="card-body">
            <!-- <mat-form-field style="margin-right: 10px;">
                <mat-label>Account</mat-label>
                <input [disabled]="submitDisable"  matInput  placeholder="Group name" id="firstControl"   [(ngModel)]="centerName" name="groupName"   >
            </mat-form-field> -->
            
            
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Account</mat-label>
                <mat-select  [disabled]="submitDisable"  id="firstControl" [(ngModel)]="accountId" name="accountId">
                    <mat-option *ngFor="let account of accounts" [value]="account.id">{{ account.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Cost center</mat-label>
                <mat-select  [disabled]="submitDisable" [(ngModel)]="costCenId" name="costCenId">
                    <mat-option *ngFor="let center of centers" [value]="center.id">{{ center.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            
                    <mat-form-field style="margin-right: 10px;">
                        <mat-label>Description</mat-label>
                        <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Description"  [(ngModel)]="description" name="description"  >
                    </mat-form-field>
           
        </div>
    </div>
   
    <!-- <div class="card" >
    <div class="card-head">Payment formula</div>
        <div class="card-body">
            <mat-form-field style=" margin-right: 10px;">
                <mat-label>Pay eval formula</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Pay eval formula"  [(ngModel)]="payEvalFormula" name="payEvalFormula"  >
            </mat-form-field>
        </div>
    </div> -->
    
</form>