<h1 class="first-card-home">Product</h1>

<button 
mat-stroked-button
color="primary"
    routerLink="/system/product-entry/0"
  >
  Create
</button>

<div class="action-bar">
  
  <div class="action-btns">
        <input matInput type="text" placeholder="Search by name" class="action-input" [(ngModel)]="searchText">
           <button class="search-button" (click)="onSearch()">Search</button>
            @if (nameFilter) {
              <button matSuffix mat-icon-button aria-label="Clear" (click)="onClearSearch()">
                <mat-icon>close</mat-icon>
              </button>
            }

  </div>
<div class="action-btns">


<button  
mat-icon-button
matTooltip="Sort"
[matTooltipShowDelay]="50"
color="basic"
type="button"
class="refresh_icon"
[matMenuTriggerFor]="sortMenu"
>
<mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="swap_vert"></mat-icon>

</button>
<mat-menu #sortMenu="matMenu">
  <button disabled mat-menu-item>
    <span>Sort by name</span>
  </button>
  <div style="display: flex; flex-direction: row; width: 100%; margin: 0 20ox;">
    <button (click)="onAsc('prodName')" mat-menu-item>
    <mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="arrow_upwards"></mat-icon>
    <span>Asc</span>
  </button>
  <button (click)="onDesc('prodName')" mat-menu-item >
    <mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="arrow_downward"></mat-icon>
    <span>Desc</span>
  </button>
  </div>
</mat-menu>


@if (sort != "" || filter != "") {
  <button mat-raised-button color="warn" (click)="onClearAll()" [disabled]='sort === "" && filter === ""'>Clear All</button>
}
</div>
</div>

<div class="card" *ngIf="!dataIsLoaded" >
  <!-- <div class="card-head">Employee profile index</div> -->
  <div class="card-body">
      <mat-table #table  [dataSource]="[1,2,3,4,5 ,6,7,8,9,0]" style="width: 100%">

          <!-- Columns definition here to be displayed -->
      
          <ng-container matColumnDef="select">
            <mat-header-cell class="cbPad"  *matHeaderCellDef>
              Action
            </mat-header-cell>
             <mat-cell class="cbPad" *matCellDef="let row; let i = index">
              <ngx-skeleton-loader />
            </mat-cell>
        </ng-container>
       
        <ng-container matColumnDef="code">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Code
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row"> <ngx-skeleton-loader /></mat-cell>
          </ng-container>
          
        <ng-container matColumnDef="category">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Category
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row"> <ngx-skeleton-loader /></mat-cell>
          </ng-container>
          
        <ng-container matColumnDef="leaveName">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Product name
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row"> <ngx-skeleton-loader /></mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="description">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Description
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row"> <ngx-skeleton-loader /></mat-cell>
          </ng-container>

          

          <!-- <ng-container matColumnDef="isPaid">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Param
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                <ngx-skeleton-loader />
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="payEvalFormula">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Param type
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row"><ngx-skeleton-loader /></mat-cell>
          </ng-container> -->
    
        <mat-header-row class="headerRow" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    
        <mat-row *matRowDef="let row; columns: displayedColumns;"  class="rowR" ></mat-row>
    
      </mat-table>
      <mat-paginator style="width: 100%;" [length]="totalRecords" [pageSize]="recordsPerPage" [pageSizeOptions]="pageSizeOptions"
          (page)="paginatoryOperation($any($event))" showFirstLastButtons>
      </mat-paginator>
      
  </div>
</div>

<div class="card" *ngIf="dataIsLoaded" >
    <div class="card-body">
        <mat-table #table [dataSource]="dataSource"  style="width: 100%">
  
            <!-- Columns definition here to be displayed -->
        
            <ng-container matColumnDef="select">
              <mat-header-cell class="cbPad"  *matHeaderCellDef>
                Action
              </mat-header-cell>
               <mat-cell class="cbPad" *matCellDef="let row; let i = index">
                <button routerLink="/system/product-entry/{{row.productId}}" style="margin-right: 5px;" class="Btn" mat-icon-button color="primary" matTooltip="Edit"><mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="edit"></mat-icon></button>
                <button (click)="onDelete(row)" class="Btn" mat-icon-button color="warn" matTooltip="Delete"><mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="delete"></mat-icon></button>
              </mat-cell>
          </ng-container>
        
          
          <ng-container matColumnDef="code">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Code
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.prodCode}}</mat-cell>
          </ng-container>
          
          
          <ng-container matColumnDef="category">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Category
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.prodCat}}</mat-cell>
          </ng-container>
          
          
          <ng-container matColumnDef="leaveName">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Product name
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.prodName}}</mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="description">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Description
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.prodDesc}}</mat-cell>
          </ng-container>


          <!-- <ng-container matColumnDef="isPaid">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Param
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                {{row.allowParam}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="payEvalFormula">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Param type
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.allowParamType}}</mat-cell>
          </ng-container> -->
          
          <mat-header-row class="headerRow" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      
          <mat-row *matRowDef="let row; columns: displayedColumns;"  class="rowR" ></mat-row>
      
        </mat-table>
        @if (dataSource.length === 0 && (filter != '' || sort != '') && dataIsLoaded) {
          <h2 class="empty-records">Record is not found</h2>
        } 
        @if (dataSource.length === 0  && filter === ''&& sort === '' && dataIsLoaded) {
          <h2 class="empty-records">No records yet</h2>
        }
        <mat-paginator style="width: 100%;" [length]="totalRecords" [pageSize]="recordsPerPage" [pageSizeOptions]="pageSizeOptions"
            (page)="paginatoryOperation($any($event))" showFirstLastButtons>
        </mat-paginator>
        
    </div>
</div>
