<h1 class="first-card-home">Attendance summary</h1>

<button 
mat-stroked-button
color="primary"
    routerLink="/system/attendance-summary-entry/0"
  >
  Create
</button>

<div class="action-bar">
  
  <div class="action-btns">
    <!-- <mat-form-field style="margin-right: 10px;" class="example-form-field">
      <mat-label>Search employee</mat-label>
      <input matInput type="text" [(ngModel)]="searchText">
      @if (nameFilter) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="onClearSearch()">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field> -->
     <!-- <mat-form-field style="margin-right: 10px;" class="example-form-field">
        <mat-label>Search employee</mat-label> -->
        <input matInput type="text" placeholder="Search by name" class="action-input" [(ngModel)]="searchText">
        <!-- @if (nameFilter) { -->
          
        <!-- } -->
      <!-- </mat-form-field> -->
      <!-- <input type="text" matInput placeholder="Search employee" class="action-input" name="sortText" [(ngModel)]="searchText">
           <button class="upload_icon" mat-icon-button color="basic" *ngIf="nameFilter != ''" (click)="onClearSearch()"><mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="cancel"></mat-icon></button> -->
           <button class="search-button" (click)="onSearch()">Search</button>
            @if (nameFilter) {
              <button matSuffix mat-icon-button aria-label="Clear" (click)="onClearSearch()">
                <mat-icon>close</mat-icon>
              </button>
            }
    <!-- <input type="text" matInput placeholder="Search employee" class="action-input" name="sortText" [(ngModel)]="searchText">
         <button class="upload_icon" mat-icon-button color="basic" *ngIf="nameFilter != ''" (click)="onClearSearch()"><mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="cancel"></mat-icon></button> -->
         <!-- <button class="search-button" (click)="onSearch()">Search</button> -->
  </div>
<div class="action-btns">
  
<!-- <button 
mat-icon-button
matTooltip="Upload file"
[matTooltipShowDelay]="50"
color="basic"
type="file"
class="upload_icon"
  (click)="file.click()"
>
<mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="file_upload"></mat-icon>

</button> -->

<button  
*ngIf="!showLoading2"
mat-icon-button
matTooltip="Refresh attendance"
[matTooltipShowDelay]="50"
color="basic"
type="button"
class="refresh_icon"
  (click)="openRefreshAtt()"
>
<mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="layers"></mat-icon>

</button>

<button  
mat-icon-button
matTooltip="Sort"
[matTooltipShowDelay]="50"
color="basic"
type="button"
class="refresh_icon"
[matMenuTriggerFor]="sortMenu"
>
<mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="swap_vert"></mat-icon>

</button>
<mat-menu #sortMenu="matMenu">
  <button disabled mat-menu-item>
    <span>Sort by name</span>
  </button>
  <button (click)="onAsc('employeeName')" mat-menu-item>
    <mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="arrow_upwards"></mat-icon>
    <span>Ascending</span>
  </button>
  <button (click)="onDesc('employeeName')" mat-menu-item >
    <mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="arrow_downward"></mat-icon>
    <span>Descending</span>
  </button>
  <button disabled mat-menu-item>
    <span>Sort by date</span>
  </button>
  <button (click)="onAsc('attDate')" mat-menu-item>
    <mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="arrow_upwards"></mat-icon>
    <span>Ascending</span>
  </button>
  <button (click)="onDesc('attDate')" mat-menu-item >
    <mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="arrow_downward"></mat-icon>
    <span>Descending</span>
  </button>
  <button (click)="onClearSort()" mat-menu-item>
    <button mat-raised-button color="warn">Clear</button>
  </button>
</mat-menu>
<button  
mat-icon-button
matTooltip="Filter by"
[matTooltipShowDelay]="50"
color="basic"
type="button"
class="refresh_icon2"
(click)="onFilterByDate()"
>
<mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="filter_list"></mat-icon>
</button>

<button mat-raised-button color="warn" (click)="onClearAll()" [disabled]='sort === "" && filter === ""'>Clear All</button>
</div>
</div>

<app-payroll-progress-bar [isProgressActive]="showLoading" [refreshScreen]="true" [timeLoad]="60" (canceled)="onProgressCanceled()"></app-payroll-progress-bar>


<div class="card" *ngIf="!dataIsLoaded" >
  <!-- <div class="card-head">Employee profile index</div> -->
  <div class="card-body">
      <mat-table #table  [dataSource]="[1,2,3,4,5 ,6,7,8,9,0]" style="width: 100%">

          <!-- Columns definition here to be displayed -->
      
          <ng-container matColumnDef="select">
            <mat-header-cell class="cbPad"  *matHeaderCellDef>
              Action
            </mat-header-cell>
             <mat-cell class="cbPad" *matCellDef="let row; let i = index">
              <ngx-skeleton-loader />
            </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="EmpId">      
          <mat-header-cell class="centH" *matHeaderCellDef>
              Employee
          </mat-header-cell>     
          <mat-cell mat-cell class="cent" *matCellDef="let row"><ngx-skeleton-loader /></mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="GratuityClear">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Month
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                <ngx-skeleton-loader />
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="LeaveClear">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Year
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                <ngx-skeleton-loader />
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="SalaryClear">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Date
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                <ngx-skeleton-loader />
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="InvClear">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Present
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                <ngx-skeleton-loader />
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="HandoverCl">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Hrs worked
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                <ngx-skeleton-loader />
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="SupervisorCl">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                On leave
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                <ngx-skeleton-loader />
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="ManagerCl">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Leave type
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                <ngx-skeleton-loader />
            </mat-cell>
          </ng-container>
        
    
        <mat-header-row class="headerRow" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    
        <mat-row *matRowDef="let row; columns: displayedColumns;"  class="rowR" ></mat-row>
    
      </mat-table>
      <mat-paginator style="width: 100%;" [length]="totalRecords" [pageSize]="recordsPerPage" [pageSizeOptions]="pageSizeOptions"
          (page)="paginatoryOperation($any($event))" showFirstLastButtons>
      </mat-paginator>
      
  </div>
</div>

<div class="card" *ngIf="dataIsLoaded" >
    <div class="card-body">
        <mat-table #table [dataSource]="dataSource"  style="width: 100%">
  
            <!-- Columns definition here to be displayed -->
        
            <ng-container matColumnDef="select">
              <mat-header-cell class="cbPad"  *matHeaderCellDef>
                Action
              </mat-header-cell>
               <mat-cell class="cbPad" *matCellDef="let row; let i = index">
                <button routerLink="/system/attendance-summary-entry/{{row.empAttActId}}" style="margin-right: 5px;" class="Btn" mat-button color="primary">Edit</button>
                <button (click)="onDelete(row)" class="Btn" mat-button color="warn">Delete</button>
              </mat-cell>
          </ng-container>
        
          
          <ng-container matColumnDef="EmpId">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Employee
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.employeeName}}</mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="GratuityClear">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Month
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                {{row.month}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="LeaveClear">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Year
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                {{row.year}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="SalaryClear">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Date
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                {{row.attDate | date:"dd/MMM/yyyy"}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="InvClear">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Present
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                <mat-icon *ngIf="row.present" aria-hidden="false" aria-label="Example done icon" style="color: rgb(90, 180, 90);" fontIcon="done"></mat-icon>
                <mat-icon *ngIf="!row.present" aria-hidden="false" aria-label="Example clear icon" style="color: rgb(180, 90, 90);" fontIcon="clear"></mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="HandoverCl">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Hrs worked
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                {{row.hrsWorked}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="SupervisorCl">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                On leave
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                <mat-icon *ngIf="row.onLeave" aria-hidden="false" aria-label="Example done icon" style="color: rgb(90, 180, 90);" fontIcon="done"></mat-icon>
                <mat-icon *ngIf="!row.onLeave" aria-hidden="false" aria-label="Example clear icon" style="color: rgb(180, 90, 90);" fontIcon="clear"></mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="ManagerCl">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Leave type
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                {{row.leaveType}}
            </mat-cell>
          </ng-container>

      
          <mat-header-row class="headerRow" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      
          <mat-row *matRowDef="let row; columns: displayedColumns;"  class="rowR" ></mat-row>
      
        </mat-table>
        <mat-paginator style="width: 100%;" [length]="totalRecords" [pageSize]="recordsPerPage" [pageSizeOptions]="pageSizeOptions"
            (page)="paginatoryOperation($any($event))" showFirstLastButtons>
        </mat-paginator>
        
    </div>
</div>
