<form #heroForm="ngForm" (keyup)="EnterSubmit($event)" (ngSubmit)="btnClick()" >
    <div class="action-container">
        <button type="submit" 
   mat-raised-button
   color="primary"
   style="margin-right: 10px;"
   [disabled]="submitDisable || !heroForm.valid"
 >
 Save
</button>
<button type="button"
mat-button
   color="basic"
   [disabled]="submitDisable"
   (click)="btnClickCancel();"
 >
 Cancel
</button>
    </div>
   
   <div class="card first-card" >
       <div class="card-head">Sale order data</div>
       <div class="card-body">
           
           <!-- <mat-form-field style="margin-right: 10px;">
               <mat-label>Journal code</mat-label>
               <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Journal code"  [(ngModel)]="journaCode" name="journaCode"  [readonly]="true">
           </mat-form-field> -->
           <mat-form-field style="margin-right: 10px;">
               <mat-label>PurInvId</mat-label>
               <input disabled id="firstName" matInput appTitleCase placeholder="Stock move code"  [(ngModel)]="purInvId" name="PurInvId" >
           </mat-form-field>

           <mat-form-field style="margin-right: 10px;">
               <mat-label>Return date</mat-label>
               <input  [disabled]="submitDisable"  matInput [matDatepicker]="picker" [(ngModel)]="StockReturnDate" name="StockReturnDate">
               <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
               <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
               <mat-datepicker #picker></mat-datepicker>
             </mat-form-field>
           <mat-divider></mat-divider>
           
        <mat-form-field style="margin-right: 10px;">
            <mat-label>Remarks</mat-label>
            <input [disabled]="submitDisable"  matInput  appTitleCase placeholder="Remarks"  [(ngModel)]="remarks" name="Remarks">
        </mat-form-field>
        
        
        <mat-form-field style="margin-right: 10px;">
            <mat-label>Description</mat-label>
            <input [disabled]="submitDisable"  matInput  appTitleCase placeholder="Description"  [(ngModel)]="description" name="description">
        </mat-form-field>
           <mat-divider></mat-divider>

           <mat-form-field style="margin-right: 10px;">
            <mat-label>Payment method</mat-label>
            <input [disabled]="submitDisable"  matInput  appTitleCase placeholder="Payment method"  [(ngModel)]="payRetMod" name="payRetMod">
        </mat-form-field>

           <mat-form-field style="margin-right: 10px;">
               <mat-label>To account</mat-label>
               <mat-select [disabled]="submitDisable" [(ngModel)]="toAccount" name="toAccount">
                 <mat-option *ngFor="let employee of accounts" [value]="employee.id">{{ employee.name }}</mat-option>
               </mat-select>
           </mat-form-field>
           <!-- <mat-form-field style="margin-right: 10px;">
               <mat-label>CustomerId</mat-label>
               <input [disabled]="submitDisable"  matInput type="number" min="0" appTitleCase placeholder="SupplierId"  [(ngModel)]="CustomerId" name="SupplierId">
           </mat-form-field> -->

           <mat-divider></mat-divider>

           <mat-form-field style="margin-right: 10px;">
            <mat-label>Journal entry</mat-label>
            <input [disabled]="submitDisable"  matInput type="number" min="0" appTitleCase placeholder="Journal entry"  [(ngModel)]="journalEntryId" name="journalEntryId">
        </mat-form-field>

        <mat-checkbox  [disabled]="submitDisable" style="margin-right: 10px;" color="primary" [(ngModel)]="paid" name="Paid">Paid</mat-checkbox>
        
        <mat-form-field style="margin-right: 10px;">
            <mat-label>Credit note</mat-label>
            <input [disabled]="submitDisable"  matInput type="number" min="0" appTitleCase placeholder="Credit note"  [(ngModel)]="creditNoteId" name="creditNoteId">
        </mat-form-field>
        
          
               <!-- <button mat-stroked-button *ngIf="loadId === 0" [disabled]="tenure === 0" type="button" (click)="fetchTenure()">Fetch</button> -->
       </div>
   </div>
   <div fxLayout fxLayoutGap="5px">
       <button mat-stroked-button type="button" (click)="addNewChild()">Add Entry</button>
   </div>

   <div *ngFor="let childTenure of childs">
       <div class="card">
           <div class="card-body">
            <mat-form-field style="margin-right: 10px; width: 100%;">
                <mat-label>Product</mat-label>
                <mat-select [disabled]="submitDisable" [(ngModel)]="childTenure.ProductId" [ngModelOptions]="{standalone: true}">
                  <mat-option *ngFor="let product of products" [value]="product.id">{{ product.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Quantity</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Qty" type="number" min="0"  oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"  [(ngModel)]="childTenure.Qty" [ngModelOptions]="{standalone: true}">
                <mat-error *ngIf="childTenure.Qty < 0">Negative value</mat-error>
            </mat-form-field>
        
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Cost price</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Cost price" type="number" min="0"  oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"  [(ngModel)]="childTenure.CostPrice" [ngModelOptions]="{standalone: true}">
                <mat-error *ngIf="childTenure.CostPrice < 0">Negative value</mat-error>
            </mat-form-field>
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Net cost</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Net cost" type="number" min="0"  oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"  [(ngModel)]="childTenure.NetCost" [ngModelOptions]="{standalone: true}">
                <mat-error *ngIf="childTenure.NetCost < 0">Negative value</mat-error>
            </mat-form-field>
            
            
        
              
               <!-- <mat-form-field style="margin-right: 10px;">
                   <mat-label>Cost center</mat-label>
                   <mat-select [disabled]="submitDisable" [(ngModel)]="childTenure.CostCenId" [ngModelOptions]="{standalone: true}">
                     <mat-option *ngFor="let employee of costCens" [value]="employee.id">{{ employee.name }}</mat-option>
                   </mat-select>
               </mat-form-field> -->
               <button mat-raised-button color="warn" type="button" (click)="deleteTenure(childTenure)">Delete</button>
           </div>
       </div>
   </div>
   
  
</form>