<h1>Loan</h1>

<button 
    routerLink="/system/loan-entry/0"
  >
  Create
</button>
<button 
    (click)="logout()"
  >
  logout
</button>

<div class="card"  >
    <div class="card-head">Loan index</div>
    <div class="card-body">
        <mat-table #table [dataSource]="dataSource"  style="width: 100%">
  
            <!-- Columns definition here to be displayed -->
        
            <ng-container matColumnDef="select">
              <mat-header-cell class="cbPad"  *matHeaderCellDef>
                Action
              </mat-header-cell>
               <mat-cell class="cbPad" *matCellDef="let row; let i = index">
                <button routerLink="/system/loan-entry/{{row.loanReqId}}" class="Btn" mat-menu-item>Edit</button>
                <button (click)="onDelete(row)" class="Btn" mat-menu-item>Delete</button>
              </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="empName">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Employee
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.empName}}</mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="department">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Department
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.department}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="jobTitle">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Job title
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.jobTitle}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="loanDate">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Loan date
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.loanDate | date:"dd/MMM/yyyy HH:mm"}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="amount">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Loan Amount
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.amount}}</mat-cell>
          </ng-container>
          
      
          <mat-header-row class="headerRow" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      
          <mat-row *matRowDef="let row; columns: displayedColumns;"  class="rowR" ></mat-row>
      
        </mat-table>
        <mat-paginator style="width: 100%;" [length]="totalRecords" [pageSize]="recordsPerPage" [pageSizeOptions]="pageSizeOptions"
            (page)="paginatoryOperation($any($event))" showFirstLastButtons>
        </mat-paginator>
        
    </div>
</div>
