<form #heroForm="ngForm" (keydown)="EnterSubmit($event)" (ngSubmit)="btnClick()" >
    <button type="submit" 
    mat-raised-button
    color="primary"
    style="margin-right: 10px;"
    [disabled]="submitDisable"
  >
  Save
</button>
<button type="button"
mat-button
    color="basic"
    [disabled]="submitDisable"
    (click)="btnClickCancel();"
  >
  Cancel
</button>
    <div class="card" >
        <div class="card-head">Transaction info</div>
        
        <div class="card-body">

            <mat-form-field style="margin-right: 10px;">
                <mat-label>Fund code</mat-label>
                <input [disabled]="submitDisable" matInput  id="firstName"  appTitleCase placeholder="Fund code"  [(ngModel)]="fundCode" name="fundCode" required>
            </mat-form-field>

            <mat-form-field style="margin-right: 10px;">
                <mat-label>Trans type</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Trans type"  [(ngModel)]="transType" name="transType" required>
            </mat-form-field>

            <mat-form-field style="margin-right: 10px;">
                <mat-label>journEntryId</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="journEntryId" type="number"  [(ngModel)]="journEntryId" name="journEntryId" required>
            </mat-form-field>

            <mat-form-field style="margin-right: 10px;">
                <mat-label>Trans date</mat-label>
                <input [disabled]="submitDisable"  matInput [matDatepicker]="picker" [(ngModel)]="transDate" name="transDate">
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

            <!-- <mat-form-field style="margin-right: 10px;">
                <mat-label>Employee</mat-label>
                <mat-select [disabled]="submitDisable" [(ngModel)]="empId" name="employee">
                  <mat-option *ngFor="let employee of employees" [value]="employee.id">{{ employee.name }}</mat-option>
                </mat-select>
            </mat-form-field> -->
            
        </div>
        </div>
        <div class="card" >
            <div class="card-head">Transaction details</div>
        <div class="card-body">

            <mat-form-field style="margin-right: 10px;">
                <mat-label>Description</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Description"  [(ngModel)]="description" name="description" required>
            </mat-form-field>
    
           
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Payment type</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Payment type"  [(ngModel)]="paymentType" name="paymentType" required>
            </mat-form-field>
    
           
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Trans amount</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase type="number" placeholder="Trans amount"  [(ngModel)]="transAmt" name="transAmt" required>
            </mat-form-field>
    
           
        </div>
    </div>
        <div class="card" >
            <div class="card-head">Cheque details</div>
        <div class="card-body">

            <mat-form-field style="margin-right: 10px;">
                <mat-label>Cheque no</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Cheque no"  [(ngModel)]="chequeNo" name="chequeNo" required>
            </mat-form-field>

            <mat-form-field style="margin-right: 10px;">
                <mat-label>Cheque date</mat-label>
                <input [disabled]="submitDisable"  matInput [matDatepicker]="picker2" [(ngModel)]="chequeDate" name="chequeDate">
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>

            <mat-form-field style="margin-right: 10px;">
                <mat-label>From account</mat-label>
                <mat-select [disabled]="submitDisable" [(ngModel)]="fromAccount" name="fromAccount">
                  <mat-option *ngFor="let employee of employees" [value]="employee.id">{{ employee.name }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field style="margin-right: 10px;">
                <mat-label>To account</mat-label>
                <mat-select [disabled]="submitDisable" [(ngModel)]="toAccount" name="toAccount">
                  <mat-option *ngFor="let employee of employees" [value]="employee.id">{{ employee.name }}</mat-option>
                </mat-select>
            </mat-form-field>

            
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Cheque status</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Cheque status"  [(ngModel)]="cheqStatus" name="cheqStatus" required>
            </mat-form-field>

            <mat-form-field style="margin-right: 10px;">
                <mat-label>Cheque remarks</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Cheque remarks"  [(ngModel)]="cheqRemarks" name="cheqRemarks" required>
            </mat-form-field>


        </div>
    </div>
        <div class="card" >
            <div class="card-head">Refrence & narration</div>
        <div class="card-body">

            <mat-form-field style="margin-right: 10px;">
                <mat-label>Reference </mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Reference"  [(ngModel)]="reference" name="reference" required>
            </mat-form-field>

            <mat-form-field style="margin-right: 10px;">
                <mat-label>Narration </mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Narration"  [(ngModel)]="narration" name="narration" required>
            </mat-form-field>

            
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Ref to</mat-label>
                <input [disabled]="submitDisable" type="number"  matInput appTitleCase placeholder="Ref to"  [(ngModel)]="refTo" name="refTo" required>
            </mat-form-field>
            
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Ref key</mat-label>
                <input [disabled]="submitDisable" type="number"  matInput appTitleCase placeholder="Ref key"  [(ngModel)]="refKey" name="refKey" required>
            </mat-form-field>

            


        </div>
    </div>
 
    
</form>