<form #heroForm="ngForm" (keyup)="EnterSubmit($event)" (ngSubmit)="btnClick()" >
    <div class="action-container">
        <button type="submit" 
   mat-raised-button
   color="primary"
   style="margin-right: 10px;"
   [disabled]="submitDisable || !heroForm.valid"
 >
 Save
</button>
<button type="button"
mat-button
   color="basic"
   [disabled]="submitDisable"
   (click)="btnClickCancel();"
 >
 Cancel
</button>
    </div>
   
   <div class="card first-card" >
       <div class="card-head">Stock consumption</div>
       <div class="card-body">
           
           <!-- <mat-form-field style="margin-right: 10px;">
               <mat-label>Journal code</mat-label>
               <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Journal code"  [(ngModel)]="journaCode" name="journaCode"  [readonly]="true">
           </mat-form-field> -->
           <mat-form-field style="margin-right: 10px;">
               <mat-label>Stock out code</mat-label>
               <input disabled  matInput appTitleCase placeholder="Stock out code"  [(ngModel)]="stockOutCode" name="journaCode"  [readonly]="true">
           </mat-form-field>

           <mat-form-field>
               <mat-label>Stock out date</mat-label>
               <input id="firstName" [disabled]="submitDisable"  matInput [matDatepicker]="picker" [(ngModel)]="stockOutDate" name="journaDate">
               <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
               <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
               <mat-datepicker #picker></mat-datepicker>
             </mat-form-field>
           <mat-divider></mat-divider>
           <mat-form-field style="margin-right: 10px;">
               <mat-label>Warehouse</mat-label>
               <mat-select [disabled]="submitDisable" [(ngModel)]="warehouseId" name="warehouseId">
                 <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse.id">{{ warehouse.name }}</mat-option>
               </mat-select>
           </mat-form-field>
           <!-- <mat-form-field style="margin-right: 10px;">
               <mat-label>CustomerId</mat-label>
               <input [disabled]="submitDisable"  matInput type="number" min="0" appTitleCase placeholder="SupplierId"  [(ngModel)]="CustomerId" name="SupplierId">
           </mat-form-field> -->

           
           <!-- <mat-form-field style="margin-right: 10px;">
            <mat-label>WarehouseId</mat-label>
            <input [disabled]="submitDisable"  matInput type="number" min="0" appTitleCase placeholder="WarehouseId"  [(ngModel)]="warehouseId" name="WarehouseId">
        </mat-form-field> -->
        
        <mat-form-field style="margin-right: 10px;">
            <mat-label>Remarks</mat-label>
            <input [disabled]="submitDisable"  matInput  appTitleCase placeholder="Remarks"  [(ngModel)]="remarks" name="Remarks">
        </mat-form-field>
        
          
               <!-- <button mat-stroked-button *ngIf="loadId === 0" [disabled]="tenure === 0" type="button" (click)="fetchTenure()">Fetch</button> -->
       </div>
   </div>
   <div fxLayout fxLayoutGap="5px">
       <button mat-stroked-button type="button" (click)="addNewChild()">Add Entry</button>
   </div>

   <div *ngFor="let childTenure of childs; let i = index">
       <div class="card">
           <div class="card-body">
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Product</mat-label>
                <mat-select [disabled]="submitDisable" [(ngModel)]="childTenure.ProductId" [ngModelOptions]="{standalone: true}">
                  <mat-option *ngFor="let product of products" [value]="product.id">{{ product.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <!-- <mat-form-field style="margin-right: 10px;">
                <mat-label>ProductId</mat-label>
                <input [disabled]="submitDisable"  matInput type="number" min="0" appTitleCase placeholder="ProductId"  [(ngModel)]="childTenure.ProductId"  [ngModelOptions]="{standalone: true}">
            </mat-form-field> -->
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Quantity</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Qty" type="number" min="0"  oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"  [(ngModel)]="childTenure.Qty" [ngModelOptions]="{standalone: true}">
                <mat-error *ngIf="childTenure.Qty < 0">Negative value</mat-error>
            </mat-form-field>
            <!-- <mat-form-field style="margin-right: 10px;">
                <mat-label>Cost price</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Cost price" type="number" min="0"  oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"  [(ngModel)]="childTenure.CostPrice" [ngModelOptions]="{standalone: true}">
                <mat-error *ngIf="childTenure.CostPrice < 0">Negative value</mat-error>
            </mat-form-field> -->
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Sale price</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Sale price" type="number" min="0"  oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"  [(ngModel)]="childTenure.SalePrice" [ngModelOptions]="{standalone: true}">
                <mat-error *ngIf="childTenure.SalePrice < 0">Negative value</mat-error>
            </mat-form-field>
            
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Remarks</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Remarks"   [(ngModel)]="childTenure.Remarks" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        
            
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Reference</mat-label>
                <input [disabled]="submitDisable" type="text"  matInput appTitleCase placeholder="Reference"   [(ngModel)]="childTenure.Reference" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        
            
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Narration</mat-label>
                <input [disabled]="submitDisable" type="text"  matInput appTitleCase placeholder="Narration"   [(ngModel)]="childTenure.Narration" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        
              
               <!-- <mat-form-field style="margin-right: 10px;">
                   <mat-label>Cost center</mat-label>
                   <mat-select [disabled]="submitDisable" [(ngModel)]="childTenure.CostCenId" [ngModelOptions]="{standalone: true}">
                     <mat-option *ngFor="let employee of costCens" [value]="employee.id">{{ employee.name }}</mat-option>
                   </mat-select>
               </mat-form-field> -->
               <button mat-raised-button color="warn" type="button" (click)="deleteTenure(childTenure)">Delete</button>
           </div>
       </div>
   </div>
   
  
</form>