<h1>Bank</h1>

<button 
mat-stroked-button
color="primary"
    routerLink="/system/bank-entry/0"
  >
  Create
</button>

<div class="card" *ngIf="!dataIsLoaded" >
  <!-- <div class="card-head">Employee profile index</div> -->
  <div class="card-body">
      <mat-table #table  [dataSource]="[1,2,3,4,5 ,6,7,8]" style="width: 100%">

          <!-- Columns definition here to be displayed -->
      
          <ng-container matColumnDef="select">
            <mat-header-cell class="cbPad"  *matHeaderCellDef>
              Action
            </mat-header-cell>
             <mat-cell class="cbPad" *matCellDef="let row; let i = index">
              <ngx-skeleton-loader />
            </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="leaveName">      
          <mat-header-cell class="centH" *matHeaderCellDef>
              Name
          </mat-header-cell>     
          <mat-cell mat-cell class="cent" *matCellDef="let row"><ngx-skeleton-loader /></mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="description">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Branch
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row"><ngx-skeleton-loader /></mat-cell>
          </ng-container>

          <ng-container matColumnDef="LeaveFormula">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Address
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row"><ngx-skeleton-loader /></mat-cell>
          </ng-container>

          

          <!-- <ng-container matColumnDef="isPaid">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Param
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                <ngx-skeleton-loader />
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="payEvalFormula">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Param type
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row"><ngx-skeleton-loader /></mat-cell>
          </ng-container> -->
    
        <mat-header-row class="headerRow" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    
        <mat-row *matRowDef="let row; columns: displayedColumns;"  class="rowR" ></mat-row>
    
      </mat-table>
      <mat-paginator style="width: 100%;" [length]="totalRecords" [pageSize]="recordsPerPage" [pageSizeOptions]="pageSizeOptions"
          (page)="paginatoryOperation($any($event))" showFirstLastButtons>
      </mat-paginator>
      
  </div>
</div>

<div class="card" *ngIf="dataIsLoaded" >
    <div class="card-body">
        <mat-table #table [dataSource]="dataSource"  style="width: 100%">
  
            <!-- Columns definition here to be displayed -->
        
            <ng-container matColumnDef="select">
              <mat-header-cell class="cbPad"  *matHeaderCellDef>
                Action
              </mat-header-cell>
               <mat-cell class="cbPad" *matCellDef="let row; let i = index">
                <button routerLink="/system/bank-entry/{{row.bankId}}" style="margin-right: 5px;" class="Btn" mat-button color="primary">Edit</button>
                <button (click)="onDelete(row)" class="Btn" mat-button color="warn">Delete</button>
              </mat-cell>
          </ng-container>
        
          
          <ng-container matColumnDef="leaveName">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Name
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.bankName}}</mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="description">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Barnch
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.branch}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="LeaveFormula">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Address
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.address}}</mat-cell>
          </ng-container>

          <!-- <ng-container matColumnDef="isPaid">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Param
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">
                {{row.allowParam}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="payEvalFormula">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Param type
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.allowParamType}}</mat-cell>
          </ng-container> -->
          
      
          <mat-header-row class="headerRow" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      
          <mat-row *matRowDef="let row; columns: displayedColumns;"  class="rowR" ></mat-row>
      
        </mat-table>
        <mat-paginator style="width: 100%;" [length]="totalRecords" [pageSize]="recordsPerPage" [pageSizeOptions]="pageSizeOptions"
            (page)="paginatoryOperation($any($event))" showFirstLastButtons>
        </mat-paginator>
        
    </div>
</div>
