<form #heroForm="ngForm" (keyup)="EnterSubmit($event)" (ngSubmit)="btnClick()" >
     <button type="submit" 
    mat-raised-button
    color="primary"
    style="margin-right: 10px;"
    [disabled]="submitDisable || !heroForm.valid"
  >
  Save
</button>
<button type="button"
mat-button
    color="basic"
    [disabled]="submitDisable"
    (click)="btnClickCancel();"
  >
  Cancel
</button>
    <div class="card" >
        <div class="card-head">User information</div>
        <div class="card-body">
            <mat-form-field style="margin-right: 10px;">
                <mat-label>User name</mat-label>
                <input [disabled]="submitDisable"  matInput  placeholder="First name" id="firstControl"   [(ngModel)]="appUserName" name="firstName"   >
            </mat-form-field>
    
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Display name</mat-label>
                <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Display name"  [(ngModel)]="displayName" name="displayName"  >
            </mat-form-field>
    
            <mat-form-field style="margin-right: 10px;">
                <mat-label>Password</mat-label>
                <input [disabled]="submitDisable"  matInput placeholder="passwrd"  [(ngModel)]="password" name="password"  >
            </mat-form-field>
           
        </div>
    </div>
    
</form>