<div class="head-bar">
<h1 class="first-card-home">Incident</h1>

<button 
mat-stroked-button
color="primary"
    routerLink="/system/incident-entry/0"
  >
  Create
</button>
</div>

<div class="card-home" *ngIf="!dataIsLoaded" >
  <!-- <div class="card-head">Employee profile index</div> -->
  <div class="card-body">
      <mat-table #table  [dataSource]="[1,2,3,4,5 ,6,7,8,9,0]" style="width: 100%">

          <!-- Columns definition here to be displayed -->
      
          <ng-container matColumnDef="select">
            <mat-header-cell class="cbPad"  *matHeaderCellDef>
              Action
            </mat-header-cell>
             <mat-cell class="cbPad" *matCellDef="let row; let i = index">
              <ngx-skeleton-loader />
            </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="EmpId">      
          <mat-header-cell class="centH" *matHeaderCellDef>
              Employee
          </mat-header-cell>     
          <mat-cell mat-cell class="cent" *matCellDef="let row"><ngx-skeleton-loader /></mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="witness1">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Witness 1
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row"><ngx-skeleton-loader /></mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="witness2">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Witness 2
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row"><ngx-skeleton-loader /></mat-cell>
          </ng-container>

          <ng-container matColumnDef="LeaveDate">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Incident date
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row"><ngx-skeleton-loader /></mat-cell>
          </ng-container>

          <ng-container matColumnDef="Des">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Description
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row"><ngx-skeleton-loader /></mat-cell>
          </ng-container>
          

          <ng-container matColumnDef="remarks">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Remarks
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row"><ngx-skeleton-loader /></mat-cell>
          </ng-container>
        
    
        <mat-header-row class="headerRow" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    
        <mat-row *matRowDef="let row; columns: displayedColumns;"  class="rowR" ></mat-row>
    
      </mat-table>
      <!-- <mat-paginator style="width: 100%;" [length]="totalRecords" [pageSize]="recordsPerPage" [pageSizeOptions]="pageSizeOptions"
          (page)="paginatoryOperation($any($event))" showFirstLastButtons>
      </mat-paginator> -->
      
  </div>
</div>

<div class="card-home" *ngIf="dataIsLoaded" >
    <div class="card-body">
        <mat-table #table [dataSource]="dataSource"  style="width: 100%">
  
            <!-- Columns definition here to be displayed -->
        
            <ng-container matColumnDef="select">
              <mat-header-cell class="cbPad"  *matHeaderCellDef>
                Action
              </mat-header-cell>
               <mat-cell class="cbPad" *matCellDef="let row; let i = index">
                <button routerLink="/system/incident-entry/{{row.empIncidentId}}" style="margin-right: 5px;" class="Btn" mat-icon-button color="primary" matTooltip="Edit"><mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="edit"></mat-icon></button>
                <button (click)="onDelete(row)" class="Btn" mat-icon-button color="warn" matTooltip="Delete"><mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="delete"></mat-icon></button>
              </mat-cell>
          </ng-container>
        
          
          <ng-container matColumnDef="EmpId">      
            <mat-header-cell class="centH" *matHeaderCellDef>
                Employee
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.employeeName}}</mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="witness1">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Witness 1
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.witness1Name}}</mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="witness2">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Witness 2
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.witness2Name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="LeaveDate">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Incident date
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.incDate | date:"dd/MMM/yyyy"}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="Des">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Description
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.description}}</mat-cell>
          </ng-container>
          

          <ng-container matColumnDef="remarks">      
            <mat-header-cell class="centH" *matHeaderCellDef>
              Remarks
            </mat-header-cell>     
            <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.remarks}}</mat-cell>
          </ng-container>
          
      
          <mat-header-row class="headerRow" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      
          <mat-row *matRowDef="let row; columns: displayedColumns;"  class="rowR" ></mat-row>
      
        </mat-table>
        @if (dataSource.length === 0 && (filter != '' || sort != '') && dataIsLoaded) {
          <h2 class="empty-records">Record is not found</h2>
        } 
        @if (dataSource.length === 0  && filter === ''&& sort === '' && dataIsLoaded) {
          <h2 class="empty-records">No records yet</h2>
        }
        </div>
    </div>
    <mat-paginator style="width: 100%; background: transparent;" [length]="totalRecords" [pageSize]="recordsPerPage" [pageSizeOptions]="pageSizeOptions"
        (page)="paginatoryOperation($any($event))" showFirstLastButtons>
    </mat-paginator>
