<!-- <p>inventory-entry works!</p> -->
<form #heroForm="ngForm" (keyup)="EnterSubmit($event);" (ngSubmit)="btnClick()" >
    <div class="action-container">
        <button type="submit" 
   mat-raised-button
   color="primary"
   style="margin-right: 10px;"
   [disabled]="submitDisable || !heroForm.valid"
 >
 Save
</button>
<button type="button"
mat-button
   color="basic"
   [disabled]="submitDisable"
   (click)="btnClickCancel();"
 >
 Cancel
</button>
    </div>
   <div class="card first-card" >
       <div class="card-head">Credit note information</div>
       <div class="card-body">
           <mat-form-field style="margin-right: 10px;" appearance="outline">
               <mat-label>Prod for</mat-label>
               <input [disabled]="submitDisable"  matInput  placeholder="Prod for" id="firstControl"   [(ngModel)]="prodFor" name="prodFor"   >
           </mat-form-field>

           <mat-form-field style="margin-right: 10px;" appearance="outline">
               <mat-label>Ref Id</mat-label>
               <input [disabled]="submitDisable"  matInput type="number"  placeholder="Ref iId"    [(ngModel)]="refId" name="refId"   >
           </mat-form-field>
           <!-- <mat-form-field style="margin-right: 10px;" appearance="outline">
               <mat-label>Leave type</mat-label>
               <mat-select id="firstControl"  [disabled]="submitDisable" [(ngModel)]="leaveName" name="leaveName">
                 <mat-option *ngFor="let employee of leaves" [value]="employee.name">{{ employee.name }}</mat-option>
               </mat-select>
           </mat-form-field> -->

           <mat-form-field style="margin-right: 10px;" appearance="outline">
            <mat-label>Credit date</mat-label>
            <input [disabled]="submitDisable" matInput [matDatepicker]="inStpicker" [(ngModel)]="credDate" name="credDate">
            
            <mat-datepicker-toggle matIconSuffix [for]="inStpicker"></mat-datepicker-toggle>
            <mat-datepicker #inStpicker></mat-datepicker>
          </mat-form-field >
   
           
          <mat-form-field style="margin-right: 10px;" appearance="outline">
            <mat-label>Description</mat-label>
            <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Description"  [(ngModel)]="description" name="description"  >
        </mat-form-field>

       
        <mat-form-field style="margin-right: 10px;" appearance="outline">
            <mat-label>Remarks</mat-label>
            <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Remarks"  [(ngModel)]="remarks" name="remarks"  >
        </mat-form-field>
       
        <mat-form-field style="margin-right: 10px;" appearance="outline">
            <mat-label>Amount</mat-label>
            <input [disabled]="submitDisable"  matInput min="0"  placeholder="Amount" type="number" decimalOnly  [(ngModel)]="amount" name="amount">
            <mat-error *ngIf="amount < 0">Negative value</mat-error>
        </mat-form-field>

          
       </div>
   </div>
   <div class="card" >
        
    <div class="card-head">Attachments <button class="Btn" type="button" mat-button color="primary" (click)="file2.click()">Upload</button></div>
    <div class="card-body">
        <input [disabled]="submitDisable" type="file" name="second" #file2 placeholder="Choose file" (change)="uploadAttachments(file2.files)" style="display: none;" multiple accept="image/png, image/jpeg">
        <div *ngFor="let link of links; let i = index">
            <div class="attach-links">
                <a [href]="link.Link" [download]="link.OriginalFileName" target="_blank">{{link.OriginalFileName}}</a>
                <button class="Btn" mat-button color="warn" (click)="deleteAttach(i)" type="button">Delete</button>
            </div>
            <mat-divider *ngIf="i+1 != links.length"></mat-divider>
        </div>
    </div>
</div>
  
   <!-- <div class="card" >
   <div class="card-head">Payment formula</div>
       <div class="card-body">
           <mat-form-field style=" margin-right: 10px;">
               <mat-label>Pay eval formula</mat-label>
               <input [disabled]="submitDisable"  matInput appTitleCase placeholder="Pay eval formula"  [(ngModel)]="payEvalFormula" name="payEvalFormula"  >
           </mat-form-field>
       </div>
   </div> -->
   
</form>